<template lang="pug">

    div.validity-component(v-show="data.valid !== null && (!data.valid || ok)")
        span.validity-component-message(:class="!data.valid ? 'validity-invalid' : 'validity-valid'")
            i.fa(:class="!data.valid ? 'fa-times' : 'fa-check'")
            | {{ $t(data.messages[data.message]) || $t('validity_ok') }}

</template>

<script>
    export default {
        props: {
            data: Object,
            ok: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style lang="sass" scoped>

    .validity-component
        @apply relative
        @apply w-full
        @apply pl-default
        @apply pr-default
        @apply text-xs
        padding-top: .25rem
        z-index: 0

        .validity-component-message
            @apply font-medium

            &.validity-invalid
                @apply text-danger

            &.validity-valid
                @apply text-success

            i
                padding-right: .25rem

</style>
