# User-specific stuff:
.idea/

## File-based project format:
*.iws

### Configs ###
app/Config/database.json
app/Config/system.json
app/Config/e-mail.json

### Other files ###
app/Components/Files/*.php
app/Data/Files/*/*