# User-specific stuff:
.idea/
node_modules/
npm-debug.log
package-lock.json

## File-based project format:
*.iws

### Configs ###
app/Config/database.json
app/Config/system.json
app/Config/e-mail.json

### Other files ###
app/Data/Files/*/*
!app/Data/Files/*/.gitkeep