@keyframes header-reveal
  0%
    opacity: 0
    transform: scale(1.6)
  10%
    opacity: 0
  60%
    opacity: 1
  100%
    transform: scale(1)

@keyframes welcome-reveal
  0%
    line-height: 0
    opacity: 0
  90%
    line-height: 0
    opacity: 0
  100%
    opacity: 1

@keyframes next-reveal
  0%
    line-height: 0
    opacity: 0
    padding: 0
  95%
    line-height: 0
    opacity: 0
    padding: 0
  100%
    opacity: 1
