@keyframes buttonLoading
    0%
        left: -200%
    100%
        left: -20%
    
.button
    @apply relative
    @apply transition
    @apply p-default
    @apply rounded-full
    @apply overflow-hidden

    &:hover
        @apply opacity-85
        box-shadow: 0 2px 12px rgba(0,0,0,.1)

    &.button-primary, &.button-primary.button-loading:after
        @apply bg-violet
        @apply text-white

    &.button-secondary, &.button-secondary.button-loading:after
        @apply bg-gold

        @apply text-white

    &.button-sm, &.button-sm.button-loading:after
        @apply text-sm
        @apply p-sm

    &.button-loading
        &:after
            @apply text-2xl
            animation: buttonLoading 1.2s infinite
            bottom: 0
            content: '\f70c'
            display: block
            font: 
                family: 'Font Awesome 5 Free'
                weight: 900
            line-height: 42px
            position: absolute
            width: 300%
            top: 0

        &.button-sm:after
            @apply text-base 
            line-height: 32px
