.form-group
    float: left
    margin: 4px 0
    width: 100%

    label
        @apply text-xs
        @apply uppercase
        @apply font-bold
        @apply text-dark
        @apply inline-block
        padding-bottom: 4px

    input
        @apply bg-white
        @apply pl-default
        @apply relative
        @apply rounded-full
        @apply transition
        @apply w-full
        @apply transition
        border: 1px solid #dadada
        height: 40px
        outline: none // Chrome fix of the blue glow
        padding-right: 32px

        &:active, &:focus
            @apply border-gold
            box-shadow: 0 2px 2px #dadada
