.slide-left-enter-active, .slide-left-leave-active
  left: 0
  opacity: 1
  position: relative
  transition: opacity .5s, left .5s

.slide-left-leave-to
  left: -20%
  opacity: 0
  position: relative

.slide-left-enter
  left: 20%
  opacity: 0
  position: relative