// Tailwind
@tailwind preflight
@tailwind components
@tailwind utilities

// Fonts
@import ./../components/fonts

// Components
@import ./../components/animations
@import ./../components/badge
@import ./../components/button
@import ./../components/form
@import ./../components/helpers
@import ./../components/transitions

// Root
html
    @apply font-sans

// Content
.content-wrapper
    max-width: 700px
    width: 100%

// Header introduction animation
.header
    animation: header-reveal 5s
    max-width: 250px

// Welcome message animation
.welcome
    @apply leading-tight
    animation: welcome-reveal 5.5s
    display: inline-block
    position: relative
    transition: .25s ease-in-out

    &.installing
        line-height: 0
        opacity: 0

// Next step button animation
.next-step
    @apply p-default
    @apply transition-slow
    animation: next-reveal 6s

    &:focus
        outline: none // Chrome fix blue glow

    &.installing
        line-height: 0
        opacity: 0
        padding: 0

// Steps
#steps
    opacity: 1
    overflow: hidden
    transition: .5s ease-in-out

    &.steps-hidden
        opacity: 0

    &.visible-overflow
        overflow: visible

// Connection test
.connection-test
    @apply transition
    height: 44px
    opacity: 1
    overflow: hidden

    &.hide
        height: 0
        opacity: 0

    span
        @apply text-sm
        @apply pl-xs

        &.connection-invalid
            @apply text-danger

        &.connection-valid
            @apply text-success
