<template lang="pug">

    div#step-account.step.flex.flex-col.items-center
        // Heading
        StepHeader(:number="step + 1", :heading="$t('installer.account.header')")

        // Form
        div.form
            .form-group
                label.pl-default(for="account_username") {{ $t('installer.account.username') }}
                .clear
                input(v-model="form.username", type="text", @input="validate('username')", id="account_username")
                Validity(:data="validation.username")

            .form-group
                label.pl-default(for="account_email") {{ $t('installer.account.email') }}
                .clear
                input(v-model="form.email", type="email", @input="validate('email')", id="account_email")
                .clear
                Validity(:data="validation.email")

            .form-group
                label.pl-default(for="account_password") {{ $t('installer.account.password') }}
                .clear
                input(v-model="form.password", type="password", @input="validate('password')", id="account_password")
                .clear
                Validity(:data="validation.password")

            .form-group
                label.pl-default(for="account_password_verify") {{ $t('installer.account.verify') }}
                .clear
                input(v-model="form.passwordAgain", type="password", @input="validate('passwordAgain')",
                      @keypress.enter="$parent.nextStep", id="account_password_verify")
                .clear
                Validity(:data="validation.passwordAgain")

</template>

<script>

    import StepHeader from './StepHeader'
    import Validity from './../../validation/Validity'

    import Validator from './../../validation/Validator'
    import Regex from './../../validation/regex'

    export default {
        props: ['step'],
        components: { StepHeader, Validity },
        data() {
            return {
                form: {
                    username: '',
                    email: '',
                    password: '',
                    passwordAgain: ''
                },
                validation: {
                    username: {
                        valid: null,
                        message: null,
                        rules: {
                            length: [4, 16],
                            regex: Regex.USERNAME
                        },
                        messages: {
                            LEN_SHORT: 'installer.errors.username.len_short',
                            LEN_LONG: 'installer.errors.username.len_long',
                            REGEX: 'installer.errors.username.regex'
                        }
                    },
                    email: {
                        valid: null,
                        message: null,
                        rules: {
                            length: [6, 254],
                            regex: Regex.EMAIL
                        },
                        messages: {
                            LEN_SHORT: 'installer.errors.email.len_short',
                            LEN_LONG: 'installer.errors.email.len_long',
                            REGEX: 'installer.errors.email.regex'
                        }
                    },
                    password: {
                        valid: null,
                        message: null,
                        rules: {
                            length: [8, 128]
                        },
                        messages: {
                            LEN_SHORT: 'installer.errors.password.len_short',
                            LEN_LONG: `installer.errors.password.len_long`
                        }
                    },
                    passwordAgain: {
                        valid: null,
                        message: null,
                        rules: {
                            match: 'password'
                        },
                        messages: {
                            MATCH: 'installer.errors.password.match'
                        }
                    }
                }
            }
        },
        created() {
            if(this.$root.step !== this.$route.meta.step) {
                this.$router.push({ name: 'interface' });
            }
        },
        beforeRouteLeave(to, from, next) {

            this.$root.setFormData(from.meta.step, this.form);

            if(to.meta.step < from.meta.step) {
                this.$root.recalculateHeightDelay();
                this.$root.step = to.meta.step;
                return next();
            }

            new Validator(this.form, this.validation);
            if(Object.values(this.validation).some(field => !field.valid)) {
                --this.$root.step;
                return next(false);
            }

            return next();

        },
        methods: {
            validate(field) {

                const validatorData = {
                    [field]: this.form[field]
                };

                if(field === 'password')
                    validatorData.passwordAgain = this.form.passwordAgain;

                if(field === 'passwordAgain')
                    validatorData.password = this.form.password;

                new Validator(validatorData, this.validation);

            }
        }
    }

</script>

<style lang="sass" scoped>

    .form
        @apply bg-white
        width: 300px

</style>
