<template lang="pug">

    div#step-database.step.flex.flex-col.items-center
        // Heading
        StepHeader(:number="step + 1", :heading="$t('installer.database.header')")

        // Form
        div.form
            .form-group
                label.pl-default(for="database_host") {{ $t('installer.database.host') }}
                .clear
                input(v-model="form.host", type="text", @input="validate('host')", id="database_host")
                .clear
                Validity(:data="validation.host")

            .form-group
                label.pl-default(for="database_port") {{ $t('installer.database.port') }}
                .clear
                input(v-model="form.port", type="text", @input="validate('port')", id="database_port")
                .clear
                Validity(:data="validation.port")

            .form-group
                label.pl-default(for="database_database") {{ $t('installer.database.database') }}
                .clear
                input(v-model="form.database", type="text", @input="validate('database')", id="database_database")
                .clear
                Validity(:data="validation.database")

            .form-group
                label.pl-default(for="database_user") {{ $t('installer.database.user') }}
                .clear
                input(v-model="form.user", type="text", @input="validate('user')", id="database_user")
                .clear
                Validity(:data="validation.user")

            .form-group
                label.pl-default(for="database_password") {{ $t('installer.database.password') }}
                .clear
                input(v-model="form.password", type="password", @keypress.enter="$parent.nextStep", id="database_password")

</template>

<script>

    import StepHeader from './StepHeader'
    import Validity from './../../validation/Validity'

    import Validator from './../../validation/Validator'
    import Regex from './../../validation/regex'

    export default {
        props: ['step'],
        components: { StepHeader, Validity },
        data() {
            return {
                form: {
                    host: '',
                    port: '3306',
                    database: '',
                    user: '',
                    password: ''
                },
                validation: {
                    host: {
                        valid: null,
                        message: null,
                        rules: {
                            empty: false // should not be empty
                        },
                        messages: {
                            IS_EMPTY: 'installer.errors.host.empty'
                        }
                    },
                    port: {
                        valid: null,
                        message: null,
                        rules: {
                            regex: Regex.PORT
                        },
                        messages: {
                            REGEX: 'installer.errors.port.regex'
                        }
                    },
                    database: {
                        valid: null,
                        message: null,
                        rules: {
                            empty: false
                        },
                        messages: {
                            IS_EMPTY: 'installer.errors.database.empty'
                        }
                    },
                    user: {
                        valid: null,
                        message: null,
                        rules: {
                            empty: false
                        },
                        messages: {
                            IS_EMPTY: 'installer.errors.user.empty'
                        }
                    }
                }
            }
        },
        async beforeRouteLeave(to, from, next) {

            this.$root.setFormData(from.meta.step, this.form);

            if(!(await this.$root.testConnection()) && from.meta.step < to.meta.step) {
                --this.$root.step;
                return next(false);
            }

            if(to.meta.step < from.meta.step) {
                this.$root.recalculateHeightDelay();
                this.$root.step = to.meta.step;
                return next();
            }

            new Validator(this.form, this.validation);
            if(Object.values(this.validation).some(field => !field.valid)) {
                --this.$root.step;
                return next(false);
            }

            return next();

        },
        created() {
            if(this.$root.step !== this.$route.meta.step) {
                this.$router.push({ name: 'interface' });
            }
        },
        mounted() {
            document.querySelector('.connection-test').classList.remove('hide');
        },
        beforeDestroy() {
            document.querySelector('.connection-test').classList.add('hide');
        },
        methods: {
            validate(field) {

                const validatorData = {
                    [field]: this.form[field]
                };

                new Validator(validatorData, this.validation);

            }
        },
        watch: {
            form: {
                handler() {
                    this.$root.setFormData(this.$route.meta.step, this.form);
                },
                deep: true
            }
        }
    }

</script>

<style lang="sass" scoped>

    .form
        @apply bg-white
        width: 300px

</style>
