<template lang="pug">

    div#step-installed.step

        // Success
        div.flex.flex-col.items-center(v-if="successful")
            h3.install-success {{ $t('installer.successful') }}
            p.text-olive.mb-lg.text-center {{ $t('installer.make') }}

            .links
                a.link.link-website(href="/", target="_blank")
                    | {{ $t('installer.front') }}
                    i.fa.fa-external-link-alt.ml-sm
                a.link.link-admin(:href="adminUrl", target="_blank")
                    | {{ $t('installer.admin') }}
                    i.fa.fa-external-link-alt.ml-sm

            Alert(type="info") {{ $t('installer.info') }}

        // Error
        div.flex.flex-col.items-center(v-else)
            h3.install-error {{ $t('installer.fail') }}
            p.text-olive.mb-lg.text-center {{ $t('installer.try_again') }}

            button.button.button-primary(@click="rewind")
                i.fa.fa-fast-backward
                |  {{ $t('installer.start_again') }}

</template>

<script>

    import Alert from './../../components/Alert'

    export default {
        components: { Alert },
        props: {
            successful: {
                type: Boolean,
                default: true
            },
            adminUrl: {
                type: String,
                default: ''
            }
        },
        beforeCreate() {

            if(this.$root.forms.length < this.$root.steps.length) {
                this.$router.push({ name: this.$root.steps[0] });
                return false;
            }

        },
        methods: {
            rewind() {
                this.$root.firstStep();
            }
        },
        beforeRouteLeave(to, from, next) {
            return to.meta.step === 0 ? next() : next(false);
        }
    }

</script>

<style lang="sass" scoped>

    #step-installed
        max-width: 300px

    h3
        @apply mb-sm
        font:
            size: 1.6rem
            weight: 300

        &.install-success
            @apply text-blue

        &.install-error
            @apply text-danger

    .links
        @apply flex
        @apply flex-row
        @apply mb-sm

        .link
            @apply ml-xs
            @apply mr-xs
            @apply p-default
            @apply bg-olive
            @apply rounded-sm
            @apply text-white
            @apply no-underline
            @apply transition

            &:hover
                @apply opacity-85

</style>
