<template lang="pug">

    div#step-install.step.flex.flex-col.items-center

        h3 {{ $t('installer.installing') }}
        p {{ $t('installer.kitty') }}
        img(src="/img/illustrations/playful-cat.svg", :class="{ 'show-image': showImage }")

</template>

<script>

    import axios from 'axios'

    export default {
        data() {
            return {
                showImage: false
            }
        },
        beforeCreate() {

            if(this.$root.forms.length < this.$root.steps.length) {
                this.$router.push({ name: this.$root.steps[0] });
                return false;
            }

            // Run installer
            axios.post('/', this.$root.forms)
                .then(response => {

                    response = response.data || null;
                    const successful = !!response.success;

                    setTimeout(() => {

                        this.$root.setFixedHeight();
                        this.$root.recalculateHeightDelay();

                        this.$router.push({ name: 'installed', params: {
                            successful, adminUrl: response.data.admin
                        } });

                    }, 2000);

                })
                .catch(() => {
                    setTimeout(() => {
                        this.$root.setFixedHeight();
                        this.$root.recalculateHeightDelay();
                        this.$router.push({ name: 'installed', params: { successful: false } });
                    }, 2000);
                });

        },
        mounted() {

            // Show image
            setTimeout(() => this.showImage = true, 100);

        },
        beforeRouteLeave(to, from, next) {

            // User is not allowed to go back anymore!
            if(to.meta.step) {
                return next(false);
            }

            // Redirect to install result component
            return next();

        }
    }

</script>

<style lang="sass" scoped>

    h3
        @apply text-dark
        @apply mb-sm
        font:
            size: 2rem
            weight: 200

    p
        @apply mb-lg
        @apply text-dark
        font-weight: 300

    img
        @apply opacity-0
        @apply transition-snailish
        clip-path: circle(0% at 50% 50%)
        max-width: 300px

        &.show-image
            @apply opacity-100
            clip-path: circle(100% at 50% 50%)

</style>
