<template lang="pug">

    div#step-interface.step.flex.flex-col.items-center
        // Heading
        StepHeader(:number="step + 1", :heading="$t('installer.interface.header')")

        // Form
        div.form
            .form-group
                label.pl-default(for="interface_language") {{ $t('installer.interface.language') }}
                .clear
                Select(:data="{ en: 'English' }", :disabled="true" :selected="form.language", id="interface_language")
                .clear
                Validity(:data="validation.language", :ok="false")

            .form-group
                label.pl-default(for="interface_timezone") {{ $t('installer.interface.timezone') }}
                .clear
                Select(:data="timezones", :selected="form.timezone", @change="updateTimezone", id="interface_timezone")
                .clear
                Validity(:data="validation.timezone", :ok="false")

            .form-group
                label.pl-default(for="interface_country") {{ $t('installer.interface.country') }}
                .clear
                Select(:data="countries", :selected="form.country", @change="updateCountry", id="interface_country")
                .clear
                Validity(:data="validation.country", :ok="false")

</template>

<script>

    import Select from './../../components/Select/Select'
    import StepHeader from './StepHeader'
    import Validity from './../../validation/Validity'

    import Validator from './../../validation/Validator'

    export default {
        props: ['step'],
        components: { StepHeader, Select, Validity },
        data() {
            return {
                form: {
                    language: 'en',
                    timezone: null,
                    country: null,
                },
                validation: {
                    language: {
                        valid: null,
                        message: null,
                        rules: {
                            equals: 'en'
                        },
                        messages: {
                            EQUALS: 'installer.errors.language.equals'
                        }
                    },
                    timezone: {
                        valid: null,
                        message: null,
                        rules: {
                            key: 'timezones'
                        },
                        messages: {
                            HAS_KEY: 'installer.errors.timezone.has_key'
                        }
                    },
                    country: {
                        valid: null,
                        message: null,
                        rules: {
                            key: 'countries'
                        },
                        messages: {
                            HAS_KEY: 'installer.errors.country.has_key'
                        }
                    }
                },
                countries: {},
                timezones: {},
            }
        },
        beforeRouteLeave(to, from, next) {

            new Validator(this.form, this.validation, this);
            if(Object.values(this.validation).some(field => !field.valid)) {
                --this.$root.step;
                return next(false);
            }

            if(this.$root.step !== to.meta.step) {
                next(false);
                this.$root.nextStep();
            }

            next();

        },
        beforeCreate() {

            // Load countries
            axios.get('/data/en/countries.json').then(response => {
                this.countries = response.data;
                this.form.country = Object.keys(response.data)[0];
            }).catch(() => { alert(this.$t('installer.errors.country.json')) });

            // Load timezones
            axios.get('/data/en/timezones.json').then(response => {
                this.timezones = response.data;
                this.form.timezone = +Object.keys(response.data)[0];
            }).catch(() => { alert(this.$t('installer.errors.timezone.json')) });

        },
        methods: {
            updateCountry(value) {
                this.form.country = value;
            },
            updateTimezone(value) {
                this.form.timezone = +value;
            }
        },
        watch: {
            form: {
                handler() {
                    this.$root.setFormData(this.$route.meta.step, this.form);
                },
                deep: true
            }
        }
    }

</script>

<style lang="sass" scoped>

    .form
        @apply bg-white
        width: 300px

</style>
