<template lang="pug">
    
    h2.text-dark.font-medium
        span.badge.bg-light.text-dark.text-base {{ number }}
        | {{ heading }}

</template>

<script>

    export default {
        props: ['heading', 'number', 'visible']
    }

</script>

<style lang="sass" scoped>

    h2
        display: inline-block
        line-height: 2rem
        margin: 12px 0

</style>
