<template lang="pug">

    div#step-website.step.flex.flex-col.items-center
        // Heading
        StepHeader(:number="step + 1", :heading="$t('installer.website.header')")

        // Form
        div.form
            .form-group
                label.pl-default(for="website_title") {{ $t('installer.website.title') }}
                .clear
                input(v-model="form.title", type="text", @input="validate('title')", id="website_title")
                Validity(:data="validation.title")

            .form-group
                label.pl-default(for="website_description") {{ $t('installer.website.description') }}
                .clear
                input(v-model="form.description", type="text", @input="validate('description')", id="website_description")
                Validity(:data="validation.description")

            .form-group
                label.pl-default(for="website_category") {{ $t('installer.website.category') }}
                .clear
                Select(:data="categories", :selected="form.category", @change="updateCategory", id="website_category")
                .clear
                Validity(:data="validation.category", :ok="false")

            .form-group
                label.pl-default(for="website_language") {{ $t('installer.website.language') }}
                .clear
                Select(:data="languages", :selected="form.language", @change="updateLanguage", id="website_language")
                .clear
                Validity(:data="validation.language", :ok="false")

</template>

<script>

    import Select from './../../components/Select/Select'
    import StepHeader from './StepHeader'
    import Validity from './../../validation/Validity'

    import Validator from './../../validation/Validator'

    export default {
        props: ['step'],
        components: { Select, StepHeader, Validity },
        data() {
            return {
                form: {
                    title: '',
                    description: '',
                    category: null,
                    language: null
                },
                validation: {
                    title: {
                        valid: null,
                        message: null,
                        rules: {
                            length: [3, 36]
                        },
                        messages: {
                            LEN_SHORT: 'installer.errors.title.len_short',
                            LEN_LONG: 'installer.errors.title.len_long'
                        }
                    },
                    description: {
                        valid: null,
                        message: null,
                        rules: {
                            length: [3, 64]
                        },
                        messages: {
                            LEN_SHORT: 'installer.errors.description.len_short',
                            LEN_LONG: 'installer.errors.description.len_long'
                        }
                    },
                    category: {
                        valid: null,
                        message: null,
                        rules: {
                            key: 'categories'
                        },
                        messages: {
                            HAS_KEY: 'installer.errors.category.has_key'
                        }
                    },
                    language: {
                        valid: null,
                        message: null,
                        rules: {
                            key: 'languages'
                        },
                        messages: {
                            HAS_KEY: 'installer.errors.language.has_key'
                        }
                    }
                },
                categories: {},
                languages: {}
            }
        },
        beforeCreate() {

            // Load categories
            axios.get('/data/en/categories.json').then(response => {
                this.categories = response.data;
                this.form.category = Object.keys(response.data)[0];
            }).catch(() => { alert(this.$t('installer.errors.category.json')) });

            // Load languages
            axios.get('/data/en/languages.json').then(response => {
                this.languages = response.data;
                this.form.language = 'en';
            }).catch(() => { alert(this.$t('installer.errors.language.json')) });

        },
        beforeRouteLeave(to, from, next) {

            this.$root.setFormData(from.meta.step, this.form);

            if(to.meta.step < from.meta.step) {
                this.$root.recalculateHeightDelay();
                this.$root.step = to.meta.step;
                return next();
            }

            new Validator(this.form, this.validation, this);
            if(Object.values(this.validation).some(field => !field.valid)) {
                --this.$root.step;
                return next(false);
            }

            return next();

        },
        created() {
            if(this.$root.step !== this.$route.meta.step) {
                this.$router.push({ name: 'interface' });
            }
        },
        methods: {
            validate(field) {

                const validatorData = {
                    [field]: this.form[field]
                };

                new Validator(validatorData, this.validation, this);

            },
            updateCategory(value) {
                this.form.category = value;
            },
            updateLanguage(value) {
                this.form.language = value;
            }
        },
    }

</script>

<style lang="sass" scoped>

    .form
        @apply bg-white
        width: 300px

</style>
