div.splash {
  background: #ffffff !important; }

header {
  background: #ffffff !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important; }

header div.header-logo img.logo-light {
  display: inline-block !important; }

header div.header-logo img.logo-dark {
  display: none !important; }

header div.header-logo:hover {
  background: rgba(0, 0, 0, 0.02) !important; }

header div.header-search input[type=search] {
  background: #f7f7f7 !important;
  color: #323232 !important; }

header div.header-quick p.quick-heading {
  color: #505050 !important; }

header div.header-quick span.quick-item:hover {
  background-color: rgba(0, 0, 0, 0.02) !important; }
header div.header-quick span.quick-item.empty {
  background-image: url("../../../assets/icons/empty.svg") !important; }

header div.header-team {
  background-color: rgba(0, 0, 0, 0.02) !important;
  background-image: url("../../../assets/icons/team.svg") !important; }
  header div.header-team:hover {
    background-color: #ffffff !important; }
  @media (max-width: 920px) {
    header div.header-team:hover {
      background-color: #ffffff !important; } }

header div.header-write {
  background: #02c75c !important; }
  header div.header-write:hover {
    background: #02ae50 !important; }

header div.header-write span.write-text {
  color: #ffffff !important; }

header div.header-account {
  color: #323232 !important; }
  header div.header-account:hover {
    background-color: rgba(0, 0, 0, 0.02) !important; }
  header div.header-account:before {
    border-top-color: #9b9b9b !important; }

header div.header-account div.account-dropdown {
  background: #ffffff !important;
  color: #323232 !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important;
  border-color: silver !important; }

div.account-dropdown span.dropdown-item:hover {
  background-color: #f7f7f7 !important; }
div.account-dropdown span.dropdown-item.logout {
  background-image: url("../../../assets/icons/logout.svg") !important; }

div.fullscreen-wrapper {
  background-color: rgba(0, 0, 0, 0.25) !important; }

div.fullscreen-wrapper div.va-wrapper div.fullscreen-popup {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2) !important; }

div.fullscreen-popup.write-actions, div.fullscreen-popup.confirmation-box {
  background: #ffffff !important; }

div.fullscreen-popup div.popup-header {
  background: #ffffff !important;
  border-bottom-color: #808080 !important; }

div.fullscreen-popup div.popup-header p.header-text {
  color: #505050 !important; }

div.fullscreen-popup div.popup-header span.header-close {
  background-image: url("../../../assets/icons/arrow-bottom.svg") !important; }
  div.fullscreen-popup div.popup-header span.header-close:hover {
    background-color: #f3f3f3 !important; }

div.write-actions div.popup-header span.header-icon {
  background-image: url("../../../assets/icons/compose_black.svg") !important; }

div.confirmation-menu div.popup-header span.header-icon {
  background-image: url("../../../assets/icons/warning.svg") !important; }

div.popup-content div.popup-tails.two-width div.tails-tail {
  border-bottom-color: silver !important;
  border-right-color: silver !important; }
  div.popup-content div.popup-tails.two-width div.tails-tail:hover {
    background: #f3f3f3 !important; }
  @media (max-width: 480px) {
    div.popup-content div.popup-tails.two-width div.tails-tail.no-bottom {
      border-bottom-color: silver !important; } }

div.tails-tail span.tail-icon.article {
  background-image: url("../../../assets/icons/articles.svg") !important; }
div.tails-tail span.tail-icon.quick {
  background-image: url("../../../assets/icons/quick_message.svg") !important; }
div.tails-tail span.tail-icon.gallery {
  background-image: url("../../../assets/icons/gallery.svg") !important; }
div.tails-tail span.tail-icon.link {
  background-image: url("../../../assets/icons/link.svg") !important; }
div.tails-tail span.tail-icon.quote {
  background-image: url("../../../assets/icons/quote.svg") !important; }
div.tails-tail span.tail-icon.note {
  background-image: url("../../../assets/icons/note.svg") !important; }
div.tails-tail span.tail-icon.image {
  background-image: url("../../../assets/icons/image.svg") !important; }
div.tails-tail span.tail-icon.video {
  background-image: url("../../../assets/icons/video.svg") !important; }
div.tails-tail span.tail-icon.audio {
  background-image: url("../../../assets/icons/audio.svg") !important; }
div.tails-tail span.tail-icon.list {
  background-image: url("../../../assets/icons/list.svg") !important; }

div.tails-tail p.tail-text {
  color: #323232 !important; }

nav {
  background: rgba(0, 0, 0, 0.01) !important; }
  @media (max-width: 540px) {
    nav {
      background: transparent !important; } }

nav ul li {
  border-bottom-color: #bdd9bf !important; }
  nav ul li.active {
    background: rgba(0, 0, 0, 0.03) !important; }
  nav ul li:hover {
    background: rgba(0, 0, 0, 0.02) !important; }

nav ul li span.item-icon.icon-dashboard {
  background-image: url("../../../assets/icons/dashboard.svg") !important; }
nav ul li span.item-icon.icon-articles {
  background-image: url("../../../assets/icons/articles.svg") !important; }
nav ul li span.item-icon.icon-sections {
  background-image: url("../../../assets/icons/sections.svg") !important; }
nav ul li span.item-icon.icon-comments {
  background-image: url("../../../assets/icons/comments.svg") !important; }
nav ul li span.item-icon.icon-mistakes {
  background-image: url("../../../assets/icons/mistakes.svg") !important; }
nav ul li span.item-icon.icon-multimedia {
  background-image: url("../../../assets/icons/multimedia.svg") !important; }
nav ul li span.item-icon.icon-sorting {
  background-image: url("../../../assets/icons/sorting.svg") !important; }
nav ul li span.item-icon.icon-calendar {
  background-image: url("../../../assets/icons/calendar.svg") !important; }
nav ul li span.item-icon.icon-components {
  background-image: url("../../../assets/icons/components.svg") !important; }
nav ul li span.item-icon.icon-analytics {
  background-image: url("../../../assets/icons/analytics.svg") !important; }
nav ul li span.item-icon.icon-websites {
  background-image: url("../../../assets/icons/websites.svg") !important; }
nav ul li span.item-icon.icon-settings {
  background-image: url("../../../assets/icons/settings.svg") !important; }

nav ul li span.item-text {
  color: #323232 !important; }

nav ul li.active span.item-active {
  background: #ffffff !important; }

nav ul li span.item-value.item-value-count {
  color: #ffffff !important;
  background: #f0002b !important; }
  nav ul li span.item-value.item-value-count.nothing {
    background: transparent !important;
    color: #808080 !important; }

nav ul li span.item-value.item-value-check {
  background-image: url("../../../assets/icons/tick.svg") !important; }
  nav ul li span.item-value.item-value-check.cross {
    background-image: url("../../../assets/icons/cross.svg") !important; }

nav ul li span.item-value.item-value-plus {
  background-image: url("../../../assets/icons/rising.svg") !important; }
  nav ul li span.item-value.item-value-plus.minus {
    background-image: url("../../../assets/icons/falling.svg") !important; }

footer {
  background: #f3f3f3 !important; }
  @media (max-width: 920px) {
    footer.open {
      box-shadow: 0 -2px 24px rgba(0, 0, 0, 0.2) !important; } }

footer span.footer-credits {
  color: #505050 !important; }
  @media (max-width: 920px) {
    footer span.footer-credits {
      background: #f3f3f3 !important; } }

footer span.footer-more {
  background-image: url("../../../assets/icons/arrow-top.svg") !important; }

footer div.more-content {
  background: #f7f7f7 !important; }

footer div.more-content span.content-item {
  border-right-color: silver !important; }
  footer div.more-content span.content-item:hover {
    background-color: rgba(0, 0, 0, 0.05) !important; }
  @media (max-width: 920px) {
    footer div.more-content span.content-item:last-of-type {
      border-right-color: silver !important; } }
  footer div.more-content span.content-item.help {
    background-image: url("../../../assets/icons/help.svg") !important; }
  footer div.more-content span.content-item.settings {
    background-image: url("../../../assets/icons/settings.svg") !important; }
  footer div.more-content span.content-item.eula {
    background-image: url("../../../assets/icons/eula.svg") !important; }
  footer div.more-content span.content-item.pro {
    background-image: url("../../../assets/icons/pro.svg") !important; }
  footer div.more-content span.content-item.update {
    background-image: url("../../../assets/icons/update.svg") !important; }
  footer div.more-content span.content-item.logout {
    background-image: url("../../../assets/icons/logout.svg") !important; }

div.content-wrapper p.header-description {
  color: #505050 !important; }

div.content-header div.header-mainline h2 {
  color: #505050 !important; }

div.header-mainline div.mainline-search span.mainline-edit {
  color: #505050 !important; }
  div.header-mainline div.mainline-search span.mainline-edit:before {
    background-image: url("../../../assets/icons/settings.svg") !important; }

div.header-mainline div.mainline-search div.input-box:before {
  background: url("../../../assets/icons/search.svg") !important; }

div.header-mainline div.mainline-search input {
  background: #f7f7f7 !important;
  color: #323232 !important; }

div.menu-tabs {
  background: #f7f7f7 !important;
  color: #323232 !important;
  border-bottom-color: #bdd9bf !important; }

div.menu-tabs span.tabs-tab {
  border-right-color: silver !important; }
  div.menu-tabs span.tabs-tab:hover {
    background-color: #e6e6e6 !important; }
  div.menu-tabs span.tabs-tab.active {
    background-color: #eeeeee !important;
    color: #191919 !important; }
    div.menu-tabs span.tabs-tab.active:hover {
      background-color: #e6e6e6 !important; }

div.content-content div.content-component.content-box, div.content-content div.content-content-component.content-box {
  background: #f3f3f3 !important; }

div.content-content label {
  color: #323232 !important; }
  div.content-content label.big-label {
    color: #404040 !important; }

div.content-content div.info-box:hover span.info-hover {
  background-image: url("../../../assets/icons/info_white.svg") !important; }

div.content-content span.info-text-outside {
  color: #404040 !important; }

div.content-content div.info-box span.info-hover {
  background-image: url("../../../assets/icons/info.svg") !important; }

div.content-content div.info-box span.info-text {
  background: #323232 !important;
  color: white !important; }

div.content-content input {
  border-color: silver !important;
  background: #ffffff !important; }
  div.content-content input.add-item {
    background-image: url("../../../assets/icons/add.svg") !important; }
    div.content-content input.add-item:hover, div.content-content input.add-item:focus {
      border-bottom-color: #404040 !important; }

div.content-content h3 {
  color: #404040 !important; }

div.content-content textarea {
  border-color: silver !important;
  background: #ffffff !important; }

div.content-content button.image_manager {
  border-color: silver !important;
  background: #ffffff !important; }
  div.content-content button.image_manager:hover {
    background: #f7f7f7 !important; }
  div.content-content button.image_manager:before {
    background-image: url("../../../assets/icons/image.svg") !important; }

div.content-content span.or {
  color: #404040 !important; }

div.counter {
  background: #f7f7f7 !important;
  color: #505050 !important; }

/*# sourceMappingURL=admin.css.map */
