// Extensions
@import "../../variables";

div.control-panel p.controls-title {
  color: $themeBlue !important;
}

div.control-panel div.panel-content {
  &.active {
    background: white !important;
  }
}

div.theme-controls p.group-title, div.language-controls p.group-title {
  color: $text-lightBlack !important;
}

div.theme-controls span.theme-option {
  &[data-value=light] {
    color: $themeBlue !important;
    background: white !important;
    border-color: $text-lightGrey !important;
    &:hover {
      background: $text-lightGrey !important;
    }
  }
  &[data-value=dark] {
    color: $themeYellow !important;
    background: $themeBlue !important;
    border-color: $text-lightGrey !important;
    &:hover {
      background: $themeBlueLight !important;
    }
  }
}

span.response-box {
  &.error {
    color: $errorRed;
  }
  &.success {
    color: $successGreen;
  }
}

// Selector overrides
button.selector-selected {
  border-color: $grey !important;
  &:after {
    border-top-color: silver !important;
  }
}

div.selector-options {
  border-color: grey !important;
}

button.selector-option {
  border-bottom-color: silver !important;
  &:last-of-type {
    border-color: transparent !important;
  }
}