:root {
  background-color: #ffffff !important; }

div.installing div.table-wrapper div.status-wrapper h2,
div.installed div.table-wrapper div.status-wrapper h2,
div.install-error div.table-wrapper div.status-wrapper h2 {
  color: #323232 !important; }

div.installing div.table-wrapper div.status-wrapper p.done-message,
div.installed div.table-wrapper div.status-wrapper p.done-message,
div.install-error div.table-wrapper div.status-wrapper p.done-message {
  color: #323232 !important; }

div.installing div.table-wrapper div.status-wrapper button.try-again,
div.installed div.table-wrapper div.status-wrapper button.try-again,
div.install-error div.table-wrapper div.status-wrapper button.try-again {
  color: #ffffff !important;
  background: #2e4052 !important; }
  div.installing div.table-wrapper div.status-wrapper button.try-again:hover,
  div.installed div.table-wrapper div.status-wrapper button.try-again:hover,
  div.install-error div.table-wrapper div.status-wrapper button.try-again:hover {
    background: #374d62 !important; }

div.intro {
  background: #ffffff !important; }

div.intro div.table-wrapper div.logo-wrapper button.proceed-install {
  color: #ffffff !important;
  background: #2e4052 !important; }
  div.intro div.table-wrapper div.logo-wrapper button.proceed-install:hover {
    background: #374d62 !important; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel {
  border-right-color: #bdd9bf !important; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.logo-box h2 {
  color: #404040 !important; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box ol li {
  color: #bdd9bf !important; }
  div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box ol li.active {
    color: #374d62 !important; }
  div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box ol li.done {
    color: #ffc857 !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form h3 {
  color: #374d62 !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form button.next-step {
  background: #2e4052 !important;
  color: #ffffff !important; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form button.next-step:hover {
    background: #374d62 !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form button.test-connection {
  background: #ffc857 !important;
  color: #323232 !important; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form button.test-connection:hover {
    background: #ffd071 !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form p.connection-message {
  color: #323232 !important; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form p.connection-message.success {
    color: #238051 !important; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form p.connection-message.fail {
    color: #f0002b !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label.input {
  color: #323232 !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input p.message {
  background: #f0002b !important;
  color: #ffffff !important; }
div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input p.checkbox-message {
  color: #ffffff !important; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label a {
  color: #374d62 !important; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label a:hover {
    color: #2e4052 !important;
    border-bottom-color: #2e4052 !important; }

[type="checkbox"]:not(:checked) + label.checkbox:before,
[type="checkbox"]:checked + label.checkbox:before {
  background: #DDDDDD !important; }

[type="checkbox"]:not(:checked) + label.checkbox:after,
[type="checkbox"]:checked + label.checkbox:after {
  background: #ffffff !important; }

[type="checkbox"]:checked + label.checkbox:before {
  background: #ffc857 !important; }

[type="checkbox"]:checked + label.checkbox:after {
  background: #2e4052 !important; }

[type="checkbox"]:checked + label.checkbox .ui:after {
  color: #39D2B4 !important; }

button.selector-selected {
  border-color: #808080 !important; }
  button.selector-selected:after {
    border-top-color: silver !important; }

div.selector-options {
  border-color: grey !important; }

button.selector-option {
  border-bottom-color: silver !important; }
  button.selector-option:last-of-type {
    border-color: transparent !important; }

img.logo-heading-charcoal {
  display: inline-block !important; }

img.logo-heading-mustard {
  display: none !important; }

/*# sourceMappingURL=installation.css.map */
