<template lang="pug">

    .alert(:class="{ ['alert-' + type]: true, 'alert-dismissed': dismissed }")
        i.alert-icon.fa(:class="iconClass")
        i.alert-dismiss.fa.fa-times(v-show="dismissable", @click="dismiss")
        slot

</template>

<script>

    export default {
        props: {
            type: {
                type: String,
                default: 'default'
            },
            dismissable: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                dismissed: false
            }
        },
        computed: {
            iconClass() {
                switch(this.type) {
                    case 'danger':
                        return 'fa-skull-crossbones';
                    case 'warning':
                        return 'fa-exclamation-triangle';
                    case 'info':
                        return 'fa-book-open';
                    case 'success':
                        return 'fa-check-double';
                    default:
                        return 'fa-asterisk';
                }
            }
        },
        methods: {
            dismiss() {
                this.dismissed = true;
            }
        }
    }

</script>

<style lang="sass">

    .alert
        @apply bg-light
        @apply p-sm
        @apply mt-sm
        @apply mb-sm
        @apply rounded
        @apply text-xs
        @apply text-dark
        @apply font-medium
        @apply opacity-100
        @apply visible
        @apply w-full
        box-shadow: inset 0 0 8px rgba(0,0,0,.05)

        .alert-icon
            @apply mr-sm
            @apply text-2xl
            @apply float-left
            color: grey

        .alert-dismiss
            @apply cursor-pointer
            @apply float-right
            @apply text-sm
            line-height: .9

        &.alert-warning
            @apply bg-warning

            .alert-icon
                @apply text-dark

        &.alert-danger
            @apply bg-danger
            @apply text-white

            .alert-icon
                @apply text-white

        &.alert-info
            @apply bg-info
            @apply text-white

            .alert-icon
                @apply text-white

        &.alert-success
            @apply bg-success
            @apply text-white

            .alert-icon
                @apply text-white

        &.alert-dismissed
            @apply m-none
            @apply p-none
            @apply opacity-0
            @apply transition
            @apply invisible
            font-size: 0
            line-height: 0

            i
                font-size: 0

</style>
