<template lang="pug">

    div.select-component-dropdown
        Search(v-if="searchEnabled", @change="updateSearchString", @select="setSelectedFromSearch" :opened="$parent.opened", @close="close")
        div.arrow-wrapper
            div.arrow
        div.select-component-dropdown-wrapper
            div.select-component-dropdown-wrapper-inner
                p.no-results(v-if="noResults") No results
                p.no-results(v-if="isEmpty") No options
                Option(v-for="(text, value, index) in processedData", :key="index", :value="value", :text="text",
                    :selected="$parent.selected.toString() === value.toString()", @change="updateSelected")

</template>

<script>

    import Option from './Option'
    import Search from './Search'

    export default {
        props: ['data'],
        components: { Option, Search },
        data() {
            return {
                minSearchEntries: 12,
                searchString: ''
            };
        },
        computed: {
            searchEnabled() {
                return Object.keys(this.data).length > this.minSearchEntries;
            },
            isEmpty() {
                return Object.keys(this.data).length < 1;
            },
            noResults() {
                return this.searchEnabled && this.searchString.length > 0 && Object.keys(this.processedData).length < 1 && !this.isEmpty;
            },
            processedData() {
                return this.searchString.length < 1 ? this.data : this.filterData();
            }
        },
        methods: {
            close() {
                this.$emit('close');
            },
            updateSearchString(value) {
                this.searchString = value.toLowerCase();
            },
            filterData() {
                return Object.entries(this.data).filter(entry => {
                    return entry[0].toLowerCase().indexOf(this.searchString) !== -1 ||
                        entry[1].toLowerCase().indexOf(this.searchString) !== -1;
                }).reduce((acc, [key, value]) => {
                    acc[key] = value;
                    return acc;
                }, {});
            },
            setSelectedFromSearch() {
                if(Object.keys(this.processedData).length === 1) {
                    this.$emit('change', Object.keys(this.processedData)[0]);
                }
            },
            updateSelected(value) {
                this.$emit('change', value);
            }
        }
    }

</script>

<style lang="sass" scoped>

    .select-component-dropdown
        @apply absolute
        @apply z-10
        left: 0
        margin-top: -12px
        right: 0
        top: 100%

        .arrow-wrapper
            @apply relative
            @apply overflow-hidden
            @apply z-1
            height: 18px
            left: 20px
            width: 60px

            .arrow
                @apply bg-white
                @apply relative
                border-radius: 4px
                box-shadow: 0 0 6px rgba(0,0,0,.2)
                height: 22px
                left: 9px
                top: 9px
                transform: rotate(45deg)
                width: 22px

        .select-component-dropdown-wrapper
            @apply bg-white
            @apply h-auto
            @apply overflow-hidden
            @apply rounded
            @apply w-full
            box-shadow: 0 4px 10px rgba(0,0,0,.25)
            max-height: 220px

            &:before
                @apply absolute
                @apply rounded-sm
                background: linear-gradient(rgba(255,255,255,.5), transparent)
                border-radius: 2px 2px 0 0
                content: ''
                height: 8px
                left: 0
                margin: 0 6px
                right: 0

            &:after
                @apply absolute
                background: linear-gradient(transparent, rgba(255,255,255,.5))
                border-radius: 0 0 2px 2px
                bottom: 0
                content: ''
                height: 8px
                left: 0
                margin: 0 6px
                right: 0

        .select-component-dropdown-wrapper-inner
            @apply h-auto
            @apply overflow-auto
            @apply w-full
            max-height: 220px

        .no-results
            @apply p-sm
            @apply text-center
            @apply text-xs



</style>
