<template lang="pug">

    div.select-component-option(@click="select", :class="{ selected }")
        | {{ text }}

</template>

<script>

    export default {
        props: ['value', 'text', 'selected'],
        methods: {
            select() {
                this.$emit('change', this.value);
            }
        }
    }

</script>

<style lang="sass" scoped>

    .select-component-option
        @apply bg-white
        @apply rounded-sm
        @apply p-sm
        @apply text-xs
        @apply cursor-pointer
        @apply transition-fast
        margin: 0 6px 2px 6px

        &:hover
            @apply bg-light

        &:first-of-type
            margin-top: 6px

        &:last-of-type
            margin-bottom: 6px

        &.selected
            @apply bg-olive
            @apply text-light

</style>
