<template lang="pug">

    div.select-component-search
        input(type="search", placeholder="Find item", v-model="phrase", ref="input", @keypress.enter.prevent="select", @keypress.esc="close")

</template>

<script>
    export default {
        props: ['opened'],
        data() {
            return {
                phrase: ''
            }
        },
        methods: {
            select() {
                this.$emit('select');
            },
            close() {
                this.$emit('close');
            }
        },
        watch: {
            phrase() {
                this.$emit('change', this.phrase);
            },
            opened() {
                if(this.opened) {
                    this.$refs.input.focus();
                    this.phrase = '';
                } else {
                    this.$refs.input.blur();
                    this.phrase = '';
                }
            }
        }
    }
</script>

<style lang="sass" scoped>

    .select-component-search
        @apply absolute
        left: 4px
        top: -24px
        width: calc(100% - 36px)
        z-index: 0

        input
            @apply border-gold
            @apply border-4
            @apply text-xs
            @apply w-full
            height: 32px

</style>
