<template lang="pug">

    div.select-component(:class="{ 'pointer-events-none': disabled, opened }", v-on-clickaway="close", :id="id")
        div.select-component-selected(@click="toggleDropdown")
            i.fa.selected-arrow(:class="disabled ? 'fa-lock' : 'fa-chevron-down'")
            span.selected-name {{ data[selected] || placeholder }}
        div(v-show="opened", v-if="!disabled")
            Dropdown(:data="data", @change="updateSelected", @close="close")

</template>

<script>

    import Dropdown from './Dropdown'
    import { mixin as clickaway } from 'vue-clickaway';

    export default {
        mixins:  [ clickaway ],
        props: {
            selected: {
                default: null
            },
            disabled: {
                type: Boolean,
                default: false
            },
            data: {
                type: Object,
                required: true
            },
            placeholder: {
                type: String,
                default: 'Choose option ...'
            },
            id: {
                type: String,
                required: false
            }
        },
        components: { Dropdown },
        data() {
            return {
                opened: false,
            };
        },
        mounted() {

            const label = document.querySelector('[for="' + this.id + '"');

            if(label && !this.disabled) {
                label.addEventListener('mouseup', () => {
                    setTimeout(() => this.opened = true, 10)
                });
            }

        },
        methods: {
            updateSelected(value) {
                this.$emit('change', value);
                this.opened = false;
            },
            toggleDropdown() {
                this.opened = !this.opened;
            },
            close() {
                this.opened = false;
            }
        }
    }

</script>

<style lang="sass" scoped>

    .select-component
        @apply relative
        @apply w-full
        height: 40px

        &.pointer-events-none
            @apply opacity-75

        &.opened
            @apply z-10

            .select-component-selected
                @apply z-10

                .selected-arrow
                    transform: translateY(-50%) rotate(-180deg)

        &:hover, &.opened
            .select-component-selected
                @apply border-gold
                box-shadow: 0 2px 2px #dadada

        .select-component-selected
            @apply bg-white
            @apply cursor-pointer
            @apply pl-default
            @apply relative
            @apply rounded-full
            @apply transition
            @apply w-full
            border: 1px solid #dadada
            height: 40px
            padding-right: 32px

            .selected-arrow
                @apply absolute
                @apply text-dark
                @apply text-sm
                @apply transition
                right: 12px
                top: 50%
                transform: translateY(-50%)

            .selected-name
                @apply block
                @apply truncate
                @apply text-dark
                @apply text-sm
                line-height: 40px

</style>
