div.content-content {
  div.content-component, div.content-content-component {
    &.content-box {
      background: $whiteSmoke !important;
    }
  }
}

div.content-content label {
  color: $text-lightBlack !important;
  &.big-label {
    color: $darkGrey !important;
  }
}

div.content-content div.info-box {
  &:hover {
   span.info-hover {
     background-image: url("../../../assets/icons/info_white.svg") !important;
   }
  }
}

div.content-content span.info-text-outside {
  color: $darkGrey !important;
}

div.content-content div.info-box span.info-hover {
  background-image: url("../../../assets/icons/info.svg") !important;
}

div.content-content div.info-box span.info-text {
  background: $text-lightBlack !important;
  color: $text-white !important;
}

div.content-content input {
  border-color: silver !important;
  background: $white !important;
  &.add-item {
    background-image: url('../../../assets/icons/add.svg') !important;
    &:hover, &:focus {
      border-bottom-color: $darkGrey !important;
    }
  }
}

div.content-content h3 {
  color: $darkGrey !important;
}

div.content-content textarea {
  border-color: silver !important;
  background: $white !important;
}

div.content-content button.image_manager {
  border-color: $lightGrey !important;
  background: $white !important;
  &:hover {
    background: $text-lightGrey !important;
  }
  &:before {
    background-image: url('../../../assets/icons/image.svg') !important;
  }
}

div.content-content span.or {
  color: $darkGrey !important;
}

div.counter {
  background: $infoBlue !important;
  color: $white !important;
}