div.content-wrapper p.header-description {
  color: $text-darkGrey !important;
}

div.content-header div.header-mainline h2 {
  color: $text-darkGrey !important;
}

div.header-mainline div.mainline-search span.mainline-edit {
  color: $text-darkGrey !important;
  &:before {
    background-image: url("../../../assets/icons/settings.svg") !important;
  }
}

div.header-mainline div.mainline-search div.input-box {
  &:before {
    background: url("../../../assets/icons/search.svg") center no-repeat !important;
    background-size: 18px !important;
  }
}

div.header-mainline div.mainline-search input {
  background: lighten($text-lightGrey, 1%) !important;
  color: $text-lightBlack !important;
}

div.menu-tabs {
  background: #f7f7f7 !important;
  color: $text-lightBlack !important;
  border-bottom-color: $themeGrey !important;
}

div.menu-tabs span.tabs-tab {
  border-right-color: $lightGrey !important;
  &:hover {
    background-color: darken($whiteSmoke, 5%) !important;
  }
  &.active {
    background-color: darken($whiteSmoke, 2%) !important;
    color: $text-darkBlack !important;
    &:hover {
      background-color: darken($whiteSmoke, 5%) !important;
    }
  }
}

@import "admin_content";