div.splash {
  background: $white !important;
}

header {
  background: $white !important;
  box-shadow: 0 0 4px rgba(0,0,0,.1) !important;
}

header div.header-logo img.logo-light {
  display: inline-block !important;
}

header div.header-logo img.logo-dark {
  display: none !important;
}

header div.header-logo {
  &:hover {
    background: rgba(0,0,0,.02) !important;
  }
}

header div.header-search input[type=search] {
  background: $text-lightGrey !important;
  color: $text-lightBlack !important;
}

header div.header-quick p.quick-heading {
  color: $text-darkGrey  !important;
}

header div.header-quick span.quick-item {
  &:hover {
    background-color: rgba(0,0,0,.02) !important;
  }
  &.empty {
    background-image: url('../../../assets/icons/empty.svg') !important;
  }
}

header div.header-team {
  background-color: rgba(0,0,0,.02) !important;
  background-image: url('../../../assets/icons/team.svg') !important;
  &:hover {
    background-color: $white !important;
  }
  @media(max-width: 920px) {
    &:hover {
      background-color: $white !important;
    }
  }
}

header div.header-write {
  background: $green !important;
  &:hover {
    background: $darkGreen !important;
  }
}

header div.header-write span.write-text {
  color: $white !important;
}

header div.header-account {
  color: $text-lightBlack !important;
  &:hover {
    background-color: rgba(0,0,0,.02) !important;
  }
  &:before {
    border-top-color: $text-grey !important;
  }
}

header div.header-account div.account-dropdown {
  background: $white !important;
  color: $text-lightBlack !important;
  box-shadow: 0 2px 3px rgba(0,0,0,.2) !important;
  border-color: silver !important;
}

div.account-dropdown span.dropdown-item {
  &:hover {
    background-color: $text-lightGrey !important;
  }
  &.logout {
    background-image: url("../../../assets/icons/logout.svg") !important;
  }
}

div.fullscreen-wrapper {
  background-color: rgba(0,0,0,.25) !important;
}

div.fullscreen-wrapper div.va-wrapper div.fullscreen-popup {
  box-shadow: 0 4px 24px rgba(0,0,0,.2) !important;
}

div.fullscreen-popup.write-actions, div.fullscreen-popup.confirmation-box {
  background: $white !important;
}

div.fullscreen-popup div.popup-header {
  background: $white !important;
  border-bottom-color: $grey !important;
}

div.fullscreen-popup div.popup-header p.header-text {
  color: $text-darkGrey !important;
}

div.fullscreen-popup div.popup-header span.header-close {
  background-image: url("../../../assets/icons/arrow-bottom.svg") !important;
  &:hover {
    background-color: $whiteSmoke !important;
  }
}

div.write-actions div.popup-header span.header-icon {
  background-image: url('../../../assets/icons/compose_black.svg') !important;
}

div.confirmation-menu div.popup-header span.header-icon {
  background-image: url('../../../assets/icons/warning.svg') !important;
}

div.popup-content div.popup-tails.two-width div.tails-tail {
  border-bottom-color: $lightGrey !important;
  border-right-color: $lightGrey !important;
  &:hover {
    background: $whiteSmoke !important;
  }
  @media(max-width: 480px) {
    &.no-bottom {
      border-bottom-color: $lightGrey !important;
    }
  }
}

div.tails-tail span.tail-icon {
  &.article {
    background-image: url("../../../assets/icons/articles.svg") !important;
  }
  &.quick {
    background-image: url("../../../assets/icons/quick_message.svg") !important;
  }
  &.gallery {
    background-image: url("../../../assets/icons/gallery.svg") !important;
  }
  &.link {
    background-image: url("../../../assets/icons/link.svg") !important;
  }
  &.quote {
    background-image: url("../../../assets/icons/quote.svg") !important;
  }
  &.note {
    background-image: url("../../../assets/icons/note.svg") !important;
  }
  &.image {
    background-image: url("../../../assets/icons/image.svg") !important;
  }
  &.video {
    background-image: url("../../../assets/icons/video.svg") !important;
  }
  &.audio {
    background-image: url("../../../assets/icons/audio.svg") !important;
  }
  &.list {
    background-image: url("../../../assets/icons/list.svg") !important;
  }
}

div.tails-tail p.tail-text {
  color: $text-lightBlack !important;
}