@import "variables", "fonts", "admin_header", "admin_menu", "content_wrapper", "media_manager";

:root, html {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-default;
  transition: .25s ease-in-out;
  overflow: hidden;
}

.icon-image {
  background-image: url('../assets/icons/image.svg') !important;
}

.icon-video {
  background-image: url('../assets/icons/video.svg') !important;
}

.icon-audio {
  background-image: url('../assets/icons/audio.svg') !important;
}

.icon-file {
  background-image: url('../assets/icons/file.svg') !important;
}

.icon-image_white {
  background-image: url('../assets/icons/image_white.svg') !important;
}

.icon-video_white {
  background-image: url('../assets/icons/video_white.svg') !important;
}

.icon-audio_white {
  background-image: url('../assets/icons/audio_white.svg') !important;
}

.icon-file_white, .icon-application_white {
  background-image: url('../assets/icons/file_white.svg') !important;
}

.icon-trash {
  background-image: url('../assets/icons/trash.svg') !important;
}

.icon-trash_white {
  background-image: url('../assets/icons/trash_white.svg') !important;
}

.icon-close_white {
  background-image: url('../assets/icons/close_white.svg') !important;
}

.icon-upload_white {
  background-image: url('../assets/icons/update_white.svg') !important;
}

.icon-poll {
  background-image: url('../assets/icons/poll.svg') !important;
}

.icon-heading {
  background-image: url('../assets/icons/header.svg') !important;
}

.icon-rich_text {
  background-image: url('../assets/icons/paragraph.svg') !important;
}

.icon-picture {
  background-image: url('../assets/icons/image.svg') !important;
}

.icon-video {
  background-image: url('../assets/icons/video.svg') !important;
}

.icon-audio {
  background-image: url('../assets/icons/audio.svg') !important;
}

.icon-code {
  background-image: url('../assets/icons/code.svg') !important;
}

.icon-link {
  background-image: url('../assets/icons/link.svg') !important;
}

.icon-quote {
  background-image: url('../assets/icons/quote.svg') !important;
}

.icon-gallery {
  background-image: url('../assets/icons/gallery.svg') !important;
}

.icon-note {
  background-image: url('../assets/icons/note.svg') !important;
}

.icon-table {
  background-image: url('../assets/icons/table.svg') !important;
}

.icon-list {
  background-image: url('../assets/icons/list.svg') !important;
}

.icon-on {
  background-image: url('../assets/icons/on.svg') !important;
}

.icon-off {
  background-image: url('../assets/icons/off.svg') !important;
}

.icon-collapse {
  background-image: url('../assets/icons/arrow-bottom.svg') !important;
}

.icon-drag {
  background-image: url('../assets/icons/drag.svg') !important;
  cursor: move !important;
}

.icon-align_left {
  background-image: url('../assets/icons/align-left.svg') !important;
}

.icon-align_right {
  background-image: url('../assets/icons/align-right.svg') !important;
}

.icon-align_center {
  background-image: url('../assets/icons/align-center.svg') !important;
}

.icon-align_justify {
  background-image: url('../assets/icons/align-justify.svg') !important;
}

.icon-align_left-picture {
  background-image: url('../assets/icons/align-left-picture.svg') !important;
}

.icon-align_right-picture {
  background-image: url('../assets/icons/align-right-picture.svg') !important;
}

.icon-align_justify-picture {
  background-image: url('../assets/icons/align-justify-picture.svg') !important;
}

.icon-play {
  background-image: url('../assets/icons/play.svg') !important;
}

.icon-pause {
  background-image: url('../assets/icons/pause.svg') !important;
}

.icon-stop {
  background-image: url('../assets/icons/stop.svg') !important;
}

*::-moz-focus-inner {
  border: 0;
}

