@import "admin_content_write", "admin_content_settings";

span.validate-message {
  display: inline-block;
  float: left;
  position: relative;
  margin: -6px 0 6px 0;
  width: 100%;
  height: auto;
  line-height: 26px;
  background: $errorRed;
  color: $white;
  font-size: .82em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 13px;
}