component-template {
  display: none;
}

div.input-box {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
}

div.input-box.low-top {
  margin-top: -6px;
}

div.input-box.margin-top {
  margin-top: 6px;
}

div.input-box.margin-bottom {
  margin-bottom: 6px;
}

div.input-box span.clear-input {
  position: absolute;
  right: 10px;
  bottom: 12px;
  height: 24px;
  width: 24px;
  background: url('../assets/icons/close.svg') center no-repeat;
  background-size: 19px;
  opacity: .7;
  z-index: 1;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

div.input-box.hide {
  display: none;
}

span.field-validation {
  position: relative;
  margin: -7px auto 0 auto;
  float: left;
  width: 100%;
  height: auto;
  background: $errorRed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $white;
  font-size: .82em;
  line-height: 0;
  padding: 0 11px;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: .15s ease-in-out;
  overflow: hidden;
  &.show {
    transform: rotateX(0deg);
    line-height: 1;
    padding: 6px 11px;
  }
  &.margin-bottom {
    margin-bottom: 6px;
  }
  &.no-margin {
    margin: 0;
  }
}

div.content-content {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 2px;
  div.settings-component {
    display: inline-block;
    position: relative;
    float: left;
    width: calc(50% - 12px);
    height: auto;
    perspective: 1000px;
    @media(max-width: 1300px) {
      width: 100% !important;
    }
    &[data-component=title] {
      width: 100%;
    }
  }
}

div.content-settings {
  display: inline-block;
  width: 100%;
  float: left;
  position: relative;
  max-height: 260px;
  height: auto;
  overflow: hidden;
  padding-bottom: 64px;
  margin-bottom: 12px;
  div.component-element, div.settings-component {
    display: inline-block;
    position: relative;
    float: left;
    width: calc(50% - 12px);
    height: auto;
    perspective: 1000px;
    @media(max-width: 1300px) {
      width: 100% !important;
    }
    &[data-component=title] {
      width: 100%;
    }
  }
  div.collapse-bar {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-gradient(to bottom, transparent 0%, $white 90%);
    z-index: 12;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 0 0 0;
    text-align: center;
    span.collapse-trigger {
      display: inline-block;
      width: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 12px;
      line-height: 32px;
      background: $themeBlue;
      border-radius: 16px;
      font-size: .92em;
      color: $white;
      cursor: pointer;
      position: relative;
      margin-right: 12px;
      transition: .2s ease-in-out;
      &:hover {
        background: $themeBlueLight;
      }
      span.text-close {
        display: none;
      }
      span.text-open {
        display: inline-block;
      }
    }
  }
  &.open {
    max-height: none;
    overflow: visible;
    div.collapse-bar span.collapse-trigger span.text-close {
      display: inline-block;
    }
    div.collapse-bar span.collapse-trigger span.text-open {
      display: none;
    }
  }
}

div.content-content label {
  display: inline;
  width: auto;
  height: auto;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 4px 0;
  font-size: 1.05em;
  font-weight: 500;
  &.big-label {
    font-size: 1.6em;
    font-weight: 400;
  }
  &.small-label {
    font-size: .82em;
    text-transform: uppercase;
    clear: both;
    position: relative;
    font-weight: 500;
    padding: 2px 0;
  }
  &.checkbox-click {
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 1;
    &.second-level {
      padding-left: 18px;
      background: url('../assets/icons/level.svg') left 2px top 4px no-repeat;
      background-size: 12px;
    }
    &.third-level {
      padding-left: 36px;
      background: url('../assets/icons/level.svg') left 20px top 4px no-repeat;
      background-size: 12px;
    }
  }
}

div.content-content div.info-box {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 0 0 2px;
  cursor: pointer;
  z-index: 2;
  opacity: .7;
  &.tall-info {
    margin: 6px 0 0 2px;
  }
  &:hover {
    overflow: visible;
    opacity: 1;
    span.info-hover {
      z-index: 1000;
      opacity: 1;
    }
    span.info-text {
      opacity: 1;
      z-index: 999;
      transition: .2s ease-in-out;
    }
  }
}

div.content-content span.info-text-outside {
  font-style: italic;
  font-weight: 400;
  font-size: .82em;
  position: relative;
  float: left;
  clear: both;
  padding: 0 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -1px;
  text-align: left;
  display: block;
  width: 100%;
  height: auto;
}

div.content-content div.info-box span.info-hover {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  background: center center no-repeat;
  background-size: 17px;
  z-index: 100;
  opacity: .6;
}

div.content-content div.info-box span.info-text {
  display: inline-block;
  position: absolute;
  left: -6px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 10px 8px 32px;
  width: 280px;
  opacity: 0;
  transition: none;
  z-index: 89;
  font-size: .88em;
  cursor: default;
}

div.content-content input {
  border: 1px solid;
  outline: none;
  height: 36px;
  width: 100%;
  position: relative;
  clear: both;
  font-family: $font-default;
  font-size: .92em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0 6px 0;
  padding: 0 72px 0 10px;
  &.input-icon-enter {
    background-image: url('../assets/icons/enter_opaque.svg') !important;
    background-position: right 10px center !important;
    background-size: 14px !important;
    background-repeat: no-repeat !important;
  }
  &.big-input {
    height: 46px;
    font-size: 1.3em;
    padding: 0 72px 0 12px;
    font-weight: 500;
    &.full {
      padding-right: 12px;
    }
  }
  &[type=checkbox] {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    z-index: 0;
    padding: 0 10px;
  }
  &.add-item {
    background: left 9px top 9px no-repeat !important;
    background-size: 16px !important;
    padding-left: 32px;
    transition: .2s ease-in-out;
  }
  &.search-input {
    background: url('../assets/icons/search.svg') left 9px top 9px no-repeat !important;
    background-size: 16px !important;
    padding-left: 32px;
    transition: .2s ease-in-out;
  }
  &.full {
    padding-right: 10px;
  }
  &:disabled {
    opacity: .5;
  }
  &:focus {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
  }
  &.no-margin {
    margin: 0;
  }
}

div.content-content div.selector-element {
  clear: both;
  float: left;
  position: relative;
  max-width: none;
  input {
    margin: 0;
    background-position: left 13px center !important;
    background-size: 13px !important;
  }
  div.selector-options {
    z-index: 101;
  }
}

div.content-content h3 {
  margin: 0 0 8px 0;
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 1.6em;
  font-weight: 500;
}

div.content-content textarea {
  border: 1px solid;
  outline: none;
  height: 82px;
  width: 100%;
  position: relative;
  clear: both;
  font-family: $font-default;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0 6px 0;
  padding: 8px 72px 6px 10px;
  resize: none;
  &.pre-textarea {
    font-family: monospace;
    font-size: 1.2em;
  }
  &.full {
     padding-right: 10px;
   }
  &:disabled {
    opacity: .5;
  }
  &:focus {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
  }
}

div.content-content button.image_manager {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  padding: 0 14px 0 44px;
  font-weight: 400;
  float: left;
  position: relative;
  clear: both;
  height: 36px;
  border: 1px solid;
  border-radius: 0;
  font-family: $font-default;
  font-size: .92em;
  outline: none;
  margin: 2px 0 4px 0;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    height: 33px;
    width: 44px;
    top: 0;
    left: 0;
    background: center no-repeat;
    background-size: 16px;
  }
}

div.content-content span.or {
  display: inline-block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  margin: 2px 0;
  text-align: left;
  font-size: .82em;
  font-weight: 500;
}

div.counter {
  position: absolute;
  bottom: 11px;
  right: 10px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  opacity: .7;
  font-size: .88em;
  font-weight: 500;
  transition: .2s ease-in-out;
  cursor: pointer;
  text-align: center;
  width: 42px;
  height: 26px;
  line-height: 28px;
  border-radius: 13px;
  &:hover {
    opacity: 1;
  }
  &.minus {
    background-color: $errorRed !important;
    color: $white !important;
  }
  &.fuck-chrome {
    -webkit-margin-after: 4px;
  }
  &.big-counter {
    bottom: 16px;
  }
}

div.content-builder {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 12px;
}

div.content-builder-content {
  width: 100%;
  position: relative;
  float: left;
  clear: both;
  display: inline-block;
  height: auto !important;
}

div.content-builder div.component-element {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background: #fbfbfb;
  margin: 6px auto;
  transition: .2s ease-in-out;
  overflow: hidden;
  &.disabled {
    opacity: .5;
    &:hover, &:target, &:active, &:focus {
      opacity: .8;
    }
  }
}

div.content-builder div.component-element div.component-element-header {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 42px;
  background: #f8f8f8;
  overflow: hidden;
  float: left;
  border-bottom: 1px solid #f5f5f5;
}

div.content-builder div.component-element div.component-element-header span.component-inline-icon {
  display: block;
  width: 42px;
  height: 42px;
  position: relative;
  float: left;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

div.content-builder div.component-element div.component-element-header label.component-inline-label {
  display: inline-block;
  position: relative;
  float: left;
  height: 42px;
  line-height: 43px;
  font-size: 1em;
  color: $text-lightBlack;
  outline: none !important;
  text-align: center;
}

div.content-builder div.component-element div.component-element-header span.component-control {
  display: inline-block;
  position: relative;
  float: right;
  margin: 3px 0;
  width: 36px;
  height: 36px;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .7;
  transition: background .1s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &.icon-drag {
    z-index: 100;
    &:active {
      background-size: 23px;
    }
  }
}

div.content-builder div.component-element div.component-element-content {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  &.hide {
    display: none;
  }
  &.no-padding {
    padding: 0;
  }
}

div.component-element-content div.picture-image {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 250px;
  min-width: 100%;
  overflow: hidden;
  img {
    display: inline-block;
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  input {
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 360px;
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
    border: none;
    padding: 0 16px 0 40px;
    background: white url('../assets/icons/edit.svg') left 16px center no-repeat !important;
    background-size: 15px !important;
    max-width: calc(100% - 24px);
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    transition: .2s ease-in-out;
    &:hover, &:focus {
      box-shadow: 0 0 16px rgba(0,0,0,.25);
    }
  }
  span.picture-remove {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: white url('../assets/icons/trash.svg') center no-repeat;
    background-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    transition: .2s ease-in-out;
    &:hover {
      box-shadow: 0 0 16px rgba(0,0,0,.25);
      background-color: #f5f5f5;
    }
  }
  div.picture-align {
    display: inline-block;
    left: 12px;
    top: 12px;
    height: 38px;
    width: auto;
    position: absolute;
    background: white;
    border-radius: 19px;
    overflow: hidden;
    cursor: pointer;
    span {
      height: 38px;
      width: 38px;
      display: inline-block;
      position: relative;
      float: left;
      background: white center no-repeat;
      background-size: 16px;
      border-right: 1px solid silver;
      transition: .15s ease-in-out;
      &:first-of-type {
        padding-left: 6px;
      }
      &:last-of-type {
        border-right: none;
        padding-right: 6px;
      }
      &:hover {
        background-color: #f5f5f5;
      }
      &.active {
        background-color: #ebebeb;
      }
    }
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    transition: .2s ease-in-out;
    &:hover {
      box-shadow: 0 0 16px rgba(0,0,0,.25);
    }
  }
}

div.component-element-content div.video-item {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  video {
    float: left;
    position: relative;
    width: 480px;
    height: auto;
    @media(max-width: 1440px) {
      width: 400px;
    }
    @media(max-width: 1220px) {
      width: 100%;
    }
  }
  p.item-name {
    display: inline-block;
    width: calc(100% - 480px);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 18px 8px 18px;
    height: auto;
    margin: 0;
    text-align: left;
    font-weight: 500;
    color: $text-lightBlack;
    font-size: 1em;
    @media(max-width: 1440px) {
      width: calc(100% - 400px);
    }
    @media(max-width: 1220px) {
      width: 100%;
    }
  }
  span.video-duration, span.video-dimensions {
    display: inline-block;
    position: relative;
    width: calc(100% - 480px);
    float: left;
    text-align: left;
    color: $text-darkGrey;
    font-size: .92em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 18px 2px 18px;
    @media(max-width: 1440px) {
      width: calc(100% - 400px);
    }
    @media(max-width: 1220px) {
      width: 100%;
    }
  }
  div.input-box {
    width: calc(100% - 480px);
    position: relative;
    clear: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 0 18px;
    @media(max-width: 1440px) {
      width: calc(100% - 400px);
    }
    @media(max-width: 1220px) {
      width: 100%;
    }
  }
  span.item-remove {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: white url('../assets/icons/trash.svg') center no-repeat;
    background-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    transition: .2s ease-in-out;
    z-index: 10;
    &:hover {
      box-shadow: 0 0 16px rgba(0,0,0,.25);
      background-color: #f5f5f5;
    }
  }
}

div.heading-types {
  display: inline-block;
  width: auto;
  position: relative;
  float: left;
  margin: 2px 0 8px 0;
  text-align: justify;
  border-radius: 18px;
  border: 1px solid silver;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  overflow: hidden;
  span {
    position: relative;
    display: inline-block;
    float: left;
    height: 36px;
    width: 40px;
    line-height: 35px;
    color: $text-lightBlack;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid silver;
    background: white;
    font-size: .92em;
    text-align: center;
    transition: .15s ease-in-out;
    cursor: pointer;
    &.type-selected {
      color: black;
      font-weight: 600;
      background: #ebebeb;
    }
    &:hover {
      background: #f5f5f5;
    }
    &:first-of-type {
      padding-left: 2px;
      width: 44px;
    }
    &:last-of-type {
      width: 44px;
      padding-right: 2px;
      border: none;
    }
  }
}

div.content-builder div.selector-element {
  display: inline-block;
  width: 300px;
  position: absolute;
  top: 4px;
  right: 0;
  text-align: left !important;
}

div.content-builder p.builder-heading {
  display: inline-block;
  text-align: left;
  margin: 6px 0 0 0;
  position: relative;
  width: 100%;
  height: auto;
  color: $text-lightBlack;
  font-weight: 400;
  font-size: 1.6em;
}

div.builder-tools {
  display: inline-block;
  margin: 6px 0;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  padding-top: 4px;
  background: $text-lightGrey;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

div.builder-tools button {
  display: inline-block;
  width: auto;
  height: 32px;
  outline: none;
  font-family: $font-default;
  margin-bottom: 4px;
  font-size: .92em;
  color: $text-lightBlack;
  position: relative;
  background: $white left 10px center no-repeat;
  background-size: 19px;
  padding: 0 12px 0 34px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  cursor: pointer;
  transition: .15s ease-in-out;
  &.add-attachment {
    margin-right: 4px;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background-color: #fbfbfb;
  }
}

div.divider {
  border-bottom: 1px dotted $themeGreyMedium;
  display: block;
  margin: 0 0 8px 0;
  width: 100%;
  position: relative;
  height: 0;
  float: left;
  clear: both;
}

p.empty {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 24px 0 26px 0;
  line-height: 1.3;
  font-size: 2em;
  font-weight: 400;
  color: lighten($text-grey, 10%);
}

// Components
div.thumbnail-image, div.header_image-image {
  display: inline-block;
  height: 64px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: lighten($text-lightGrey, 2%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid silver;
}

div.thumbnail-image img, div.header_image-image img {
  display: inline-block;
  height: auto;
  width: 25%;
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

div.thumbnail-image p.thumbnail-name, div.header_image-image p.header_image-name {
  display: inline-block;
  margin: 0;
  position: relative;
  float: left;
  width: 75%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 48px 0 14px;
  font-size: .92em;
  color: $text-lightBlack;
  line-height: 63px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.thumbnail-image span.thumbnail-remove, div.header_image-image span.header_image-remove {
  display: block;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  background: url(../assets/icons/trash.svg) center no-repeat;
  background-size: 16px;
  cursor: pointer;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

div.attachments-list {
  display: inline-block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

div.attachments-list div.attachment-list-item {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid silver;
  background: left 18px center no-repeat;
  background-size: 18px;
  background-color: lighten($text-lightGrey, 2%);
  margin-bottom: 4px;
  overflow: hidden;
  &:last-of-type {
    margin-bottom: 0;
  }
}

div.attachment-list-item div.attachment-image {
  display: none;
}

div.attachment-list-item p.attachment-name {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  line-height: 47px;
  padding: 0 48px 0 52px;
  margin: 0;
  font-size: .92em;
  color: $text-lightBlack;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.attachment-list-item span.attachment-remove {
  display: block;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  background: url(../assets/icons/trash.svg) center no-repeat;
  background-size: 16px;
  cursor: pointer;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

div.custom_fields-add-box, div.sources-add-box {
  display: inline-block;
  position: relative;
  float: left;
  margin: 4px 0;
  width: 100%;
  height: auto;
  background: lighten($text-lightGrey, 2%);
  border: 1px solid silver;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 10px 4px 10px;
}

div.custom_fields-add-box p.custom_fields-add-heading, div.sources-add-box p.custom_fields-add-heading {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 0 4px 0;
  width: 100%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  font-size: .92em;
  color: $text-lightBlack;
}

div.custom_fields-add-box label.label-custom_fields, div.sources-add-box label {
  &:first-of-type {
    width: 34%;
  }
  width: 66%;
  float: left;
  clear: none !important;
}

div.custom_fields-add-box input.input-custom_fields, div.sources-add-box input {
  &:first-of-type {
    width: 33%;
    margin-right: 1%;
  }
  width: 66%;
  float: left;
  clear: none;
  padding: 0 10px !important;
}

div.custom_fields-add-box span.add-custom_field, div.sources-add-box span.sources-add {
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 12px;
  margin: 0;
  width: auto;
  height: 32px;
  background-color: $themeBlue;
  color: $white;
  transition: .2s ease-in-out;
  border-radius: 16px;
  cursor: pointer;
  font-size: .92em;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  &:hover {
    background-color: $themeBlueLight;
  }
}

div.custom_fields-list, div.sources-list {
  display: inline-block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
}

div.custom_fields-list div.custom_fields-list-item, div.sources-list div.sources-source {
  display: inline-block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 38px;
  line-height: 37px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid silver;
  margin-top: 4px;
  padding: 0 12px;
  background: lighten($text-lightGrey, 2%);
}

div.custom_fields-list div.custom_fields-list-item p.field-item-name, div.sources-list div.sources-source p.source-name {
  display: inline-block;
  position: relative;
  margin: 0 1% 0 0;
  width: 33%;
  float: left;
  height: 100%;
  line-height: 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  font-size: .92em;
  color: $text-lightBlack;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.custom_fields-list div.custom_fields-list-item p.field-item-value, div.sources-list div.sources-source p.source-reference {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 66%;
  float: left;
  height: 100%;
  line-height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 64px 0 0;
  font-size: .92em;
  color: $text-lightBlack;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.custom_fields-list div.custom_fields-list-item span.edit-custom_field, div.sources-list div.sources-source span.source-edit {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  background: url('../assets/icons/edit.svg') center no-repeat;
  background-size: 12px;
  opacity: .7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

div.custom_fields-list div.custom_fields-list-item span.remove-custom_field, div.sources-list div.sources-source span.source-remove {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  background: url('../assets/icons/close.svg') center no-repeat;
  background-size: 19px;
  opacity: .7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

span.tags-manage, span.categories-manage {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 4px;
  width: auto;
  height: auto;
  opacity: .8;
  text-align: center;
  cursor: pointer;
  color: $text-lightBlack;
  font-size: .87em;
  &:hover {
    opacity: 1;
  }
  &:before {
    content: "";
    position: absolute;
    right: 100%;
    padding-right: 8px;
    margin-top: -1px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: url('../assets/icons/sorting.svg') center no-repeat;
    background-size: 14px;
  }
}

div.tags-list {
  display: inline-block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
}

div.tags-list p.tags-item {
  display: inline-block;
  position: relative;
  float: left;
  margin: 4px 6px 4px 0;
  font-size: .88em;
  color: $white;
  background: $grey;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 26px 0 23px;
  height: 28px;
  line-height: 29px;
  border-radius: 2px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: $white;
    left: 10px;
  }
  span.tag-remove {
    display: block;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background: url('../assets/icons/close_white-thick.svg') center no-repeat;
    background-size: 10px;
    cursor: pointer;
  }
}

div.languages-list, div.categories-list {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  max-height: 180px;
  overflow: auto;
  border: 1px solid silver;
  margin-top: -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.languages-list div.language-item, div.categories-list div.category-item {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: 32px;
  border-bottom: 1px solid silver;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: .82em;
  line-height: 32px;
  &:last-of-type {
    border-bottom: none;
  }
  &.hide {
    display: none;
  }
}

div.languages-list div.language-item p.language-name, div.categories-list div.category-item p.category-name {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $text-lightBlack;
  margin: 0;
}

div.languages-list div.language-item span.add-language, div.categories-list div.category-item span.add-category {
  display: inline-block;
  position: absolute;
  width: auto;
  height: 25px;
  top: 3px;
  right: 6px;
  background: url('../assets/icons/add.svg') transparent left 6px center no-repeat;
  background-size: 15px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  color: $text-lightBlack;
  padding: 0 6px 0 24px;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover {
    background-color: rgba(0,0,0,.05);
  }
  &.hide {
    display: none;
  }
}

div.languages-list div.language-item span.remove-language, div.categories-list div.category-item span.remove-category {
  display: inline-block;
  position: absolute;
  width: auto;
  height: 25px;
  top: 3px;
  right: 8px;
  background: $successGreen url('../assets/icons/success_white.svg') left 6px center no-repeat;
  background-size: 15px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  color: $white;
  padding: 0 6px 0 24px;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover {
    background-color: lighten($successGreen, 5%);
  }
  &.hide {
    display: none;
  }
}

span.password-show {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  right: 8px;
  background: url('../assets/icons/visible.svg') center no-repeat;
  background-size: 18px;
  cursor: pointer;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
  &.visible {
    background-image: url("../assets/icons/hidden.svg");
  }
}

div.selector-element#select-relative {
  height: auto !important;
  .selector-selected {
    height: 32px !important;
    float: left;
  }
  .selector-options {
    position: relative !important;
    float: left;
  }
}

div.select-image {
  border: 1px solid silver;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  background: white;
}

div.select-image button.inline-image_manager {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  float: left;
  outline: none;
  border: none;
  background: #f8f8f8 center no-repeat;
  background-size: 22px;
  cursor: pointer;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

div.select-image input {
  border: none;
  border-left: 1px solid silver;
  width: calc(100% - 36px);
  height: 36px;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
}

div.component-placeholder {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eeeeee;
  z-index: 99;
  text-align: center;
  visibility: visible;
  opacity: .7;
  transform: scale(1);
  transition: .15s ease-in-out;
  span {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 56px;
    width: 56px;
    background: center no-repeat;
    background-size: 56px;
    opacity: .8;
  }
  &.hide {
    visibility: hidden;
    opacity: 0;
    transform: scale(2);
  }
}