@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Hairline.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Lato/Lato-HairlineItalic.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Light.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Lato/Lato-LightItalic.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Lato/Lato-Italic.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Bold.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Lato/Lato-BoldItalic.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Black.ttf"); }
@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Lato/Lato-BlackItalic.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Noto Sans/NotoSans-Regular.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Noto Sans/NotoSans-Italic.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Noto Sans/NotoSans-Bold.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Noto Sans/NotoSans-BoldItalic.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Open Sans/OpenSans-Light.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Open Sans/OpenSans-LightItalic.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Open Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Open Sans/OpenSans-Italic.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Open Sans/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Open Sans/OpenSans-SemiboldItalic.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Open Sans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Open Sans/OpenSans-BoldItalic.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Open Sans/OpenSans-ExtraBold.ttf"); }
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Open Sans/OpenSans-ExtraBoldItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Black.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf"); }
@font-face {
  font-family: "Slabo 27px";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Slabo 27px/Slabo27px-Regular.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Source Sans Pro/SourceSansPro-ExtraLight.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Source Sans Pro/SourceSansPro-ExtraLightItalic.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Source Sans Pro/SourceSansPro-Light.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Source Sans Pro/SourceSansPro-LightItalic.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Source Sans Pro/SourceSansPro-Regular.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Source Sans Pro/SourceSansPro-Italic.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Source Sans Pro/SourceSansPro-Semibold.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Source Sans Pro/SourceSansPro-SemiboldItalic.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Source Sans Pro/SourceSansPro-Bold.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Source Sans Pro/SourceSansPro-BoldItalic.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Source Sans Pro/SourceSansPro-Black.ttf"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Source Sans Pro/SourceSansPro-BlackItalic.ttf"); }
@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Source Code Pro/SourceCodePro-ExtraLight.ttf"); }
@font-face {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Source Code Pro/SourceCodePro-Light.ttf"); }
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Source Code Pro/SourceCodePro-Regular.ttf"); }
@font-face {
  font-family: "Source Code Pro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Source Code Pro/SourceCodePro-Semibold.ttf"); }
@font-face {
  font-family: "Source Code Pro";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Source Code Pro/SourceCodePro-Bold.ttf"); }
@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Source Code Pro/SourceCodePro-Black.ttf"); }
::-moz-focus-inner {
  border: none;
  outline: none; }

:root {
  width: 100%;
  position: relative;
  display: block;
  transition: .5s ease-in-out; }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

div.installing,
div.installed,
div.install-error {
  position: fixed;
  margin: 100% 0 0 0;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 12; }
  div.installing.hide,
  div.installed.hide,
  div.install-error.hide {
    margin-top: -100%;
    height: 0;
    opacity: 0;
    transition: margin 1s cubic-bezier(0.58, 0.01, 0, 0.99), opacity 0.5s ease-in-out, height 1s ease-in-out; }
  div.installing.show,
  div.installed.show,
  div.install-error.show {
    margin-top: 0;
    opacity: 1;
    height: 100%;
    transition: margin 1s cubic-bezier(0.58, 0.01, 0, 0.99), opacity 0.5s ease-in-out; }

div.installing div.table-wrapper div.status-wrapper,
div.installed div.table-wrapper div.status-wrapper,
div.install-error div.table-wrapper div.status-wrapper {
  max-width: 480px;
  min-width: 320px;
  width: 100%;
  text-align: center;
  display: inline-block; }

div.installing div.table-wrapper div.status-wrapper h2,
div.installed div.table-wrapper div.status-wrapper h2,
div.install-error div.table-wrapper div.status-wrapper h2 {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0; }

div.installing div.table-wrapper div.status-wrapper p.done-message,
div.installed div.table-wrapper div.status-wrapper p.done-message,
div.install-error div.table-wrapper div.status-wrapper p.done-message {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  font-weight: 300;
  margin: 8px 0 0 0; }

div.installing div.table-wrapper div.status-wrapper button.try-again,
div.installed div.table-wrapper div.status-wrapper button.try-again,
div.install-error div.table-wrapper div.status-wrapper button.try-again {
  display: inline-block;
  position: relative;
  width: 80%;
  min-width: 250px;
  max-width: 170px;
  height: 36px;
  clear: both;
  text-align: center;
  border-radius: 18px;
  cursor: pointer;
  outline: none !important;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-top: 12px;
  transition: top 1.5s cubic-bezier(0.28, 1, 0.19, 1), opacity 2s ease-in-out, background 0.2s ease-in-out; }
  div.installing div.table-wrapper div.status-wrapper button.try-again:hover,
  div.installed div.table-wrapper div.status-wrapper button.try-again:hover,
  div.install-error div.table-wrapper div.status-wrapper button.try-again:hover {
    transition: .2s ease-in-out; }

div.intro {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10;
  opacity: 0;
  margin-top: 400px;
  transition: margin 2s cubic-bezier(0.28, 1, 0.19, 1), opacity 2s ease-in-out; }
  div.intro.animate {
    opacity: 1;
    margin-top: 0; }
  div.intro.hide {
    margin-top: -100%;
    opacity: 0;
    transition: margin 1s cubic-bezier(0.58, 0.01, 0, 0.99), opacity 0.5s ease-in-out; }
    @media (max-width: 720px) {
      div.intro.hide {
        margin-top: -200%; } }

div.intro div.table-wrapper,
div.installing div.table-wrapper,
div.installed div.table-wrapper,
div.install-error div.table-wrapper {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center; }

div.intro div.table-wrapper div.logo-wrapper,
div.installing div.table-wrapper div.status-wrapper
div.installed div.table-wrapper div.status-wrapper
div.install-error div.table-wrapper div.status-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 320px;
  height: auto;
  text-align: center; }

div.intro div.table-wrapper div.logo-wrapper img {
  display: inline-block;
  height: 40px;
  width: auto; }

div.intro div.table-wrapper div.logo-wrapper button.proceed-install {
  display: inline-block;
  position: relative;
  width: 80%;
  max-width: 170px;
  height: 36px;
  clear: both;
  text-align: center;
  border-radius: 18px;
  cursor: pointer;
  outline: none !important;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  opacity: 0;
  top: 412px;
  margin-bottom: 12px;
  transition: top 1.5s cubic-bezier(0.28, 1, 0.19, 1), opacity 2s ease-in-out; }
  div.intro div.table-wrapper div.logo-wrapper button.proceed-install.animate {
    opacity: 1;
    top: 12px; }
  div.intro div.table-wrapper div.logo-wrapper button.proceed-install:hover {
    transition: .2s ease-in-out; }

div.installer {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 50px auto 0 auto;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  transform: scale(1);
  transition: margin-top 1.5s 0.5s cubic-bezier(0.58, 0.01, 0, 0.99), opacity 1s 1s ease-in-out; }
  @media (max-height: 580px) {
    div.installer {
      display: block;
      overflow: auto; } }
  div.installer.animate {
    opacity: 1;
    margin-top: 0; }

div.installer div.installer-wrapper {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  @media (max-height: 580px) {
    div.installer div.installer-wrapper {
      display: inline-block;
      overflow: auto; } }

div.installer div.installer-wrapper div.content-wrapper {
  display: inline-block;
  width: 100%;
  max-width: 720px;
  height: auto;
  max-height: 100%;
  position: relative; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel {
  display: block;
  height: auto;
  position: relative;
  float: left;
  width: 40%;
  text-align: center;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid; }
  @media (max-width: 720px) {
    div.installer div.installer-wrapper div.content-wrapper aside.menu-panel {
      width: 100%;
      padding: 48px 0 12px 0;
      border-right: none; } }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.logo-box {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  text-align: center; }
  @media (max-width: 720px) {
    div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.logo-box {
      width: 280px;
      float: none; } }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.logo-box img {
  display: inline-block;
  width: 60%;
  height: auto; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.logo-box h2 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
  clear: both;
  float: left;
  width: 100%;
  margin: 16px 0 12px 0;
  text-transform: uppercase; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box {
  display: inline-block;
  height: auto;
  width: 60%;
  position: relative; }
  @media (max-width: 720px) {
    div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box {
      display: none; } }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box ol {
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; }

div.installer div.installer-wrapper div.content-wrapper aside.menu-panel div.menu-box ol li {
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  transition: 1s ease-in-out; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms {
  display: block;
  height: auto;
  position: relative;
  float: left;
  width: 60%;
  text-align: center;
  padding: 60px 54px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 720px) {
    div.installer div.installer-wrapper div.content-wrapper div.install-forms {
      padding: 0 10% 32px 10%;
      width: 100%; } }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  transition: top 1s cubic-bezier(0.28, 1, 0.19, 1), opacity 0.1s ease-out, height 1s ease-out;
  opacity: 0;
  top: -1500px;
  height: 0; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form.active {
    opacity: 1;
    transition: top 1s cubic-bezier(0.28, 1, 0.19, 1), opacity 0.8s 0.5s ease-out, height 1s ease-out;
    top: 0;
    height: auto; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form h3 {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  margin: -3px 0 10px -2px;
  font-family: "Roboto", sans-serif;
  font-size: 2.06em;
  font-weight: 400; }
  @media (max-width: 720px) {
    div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form h3 {
      text-align: center;
      font-size: 1.5em; } }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 6px; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form button.next-step {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  margin-top: 12px;
  float: right;
  border-radius: 16px;
  position: relative;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: .2s ease-in-out; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form button.test-connection {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  margin-top: 12px;
  margin-right: 12px;
  float: right;
  border-radius: 16px;
  position: relative;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: .2s ease-in-out; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form p.connection-message {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 0;
  margin-top: 12px;
  margin-right: 12px;
  float: right;
  border-radius: 16px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: .77em;
  transition: .2s ease-in-out; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 12px; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input:last-of-type {
    margin-bottom: 0; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input.checkbox-first {
    margin-top: 6px; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label.input {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 0.82em;
  text-transform: uppercase;
  font-weight: 500;
  outline: none !important;
  margin-bottom: 6px; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label.input:after {
    content: '';
    position: absolute;
    top: 31px;
    right: 18px;
    width: 14px;
    height: 14px;
    background: center no-repeat;
    background-size: 14px;
    z-index: 1; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label.input.valid:after {
    background-image: url("../assets/icons/valid_light.png"); }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label.input.error:after {
    background-image: url("../assets/icons/error_light.png"); }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input input {
  display: inline-block;
  width: 100%;
  height: 32px;
  position: relative;
  padding: 0 48px 0 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid silver;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: .9em; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input p {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input p.message {
    display: block;
    width: 100%;
    height: auto;
    line-height: 26px;
    font-size: 0.82em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 13px;
    font-family: "Roboto", sans-serif; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input p.checkbox-message {
    top: 4px;
    clear: both;
    background: none;
    font-weight: 500;
    padding: 0 2px; }

div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label a {
  text-decoration: none;
  margin: 0 2px; }
  div.installer div.installer-wrapper div.content-wrapper div.install-forms div.install-form div.form div.form-input label a:hover {
    border-bottom: 1px solid; }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute !important;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label.checkbox,
[type="checkbox"]:checked + label.checkbox {
  position: relative;
  padding-left: 62px;
  cursor: pointer;
  font-weight: 500 !important;
  text-transform: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 0.82em;
  clear: both;
  float: left;
  line-height: 1.55em; }

[type="checkbox"]:not(:checked) + label.checkbox:before,
[type="checkbox"]:checked + label.checkbox:before,
[type="checkbox"]:not(:checked) + label.checkbox:after,
[type="checkbox"]:checked + label.checkbox:after {
  content: '';
  position: absolute; }

[type="checkbox"]:not(:checked) + label.checkbox:before,
[type="checkbox"]:checked + label.checkbox:before {
  left: 0;
  top: -3px;
  width: 48px;
  height: 26px;
  border-radius: 13px;
  transition: background-color .2s; }

[type="checkbox"]:not(:checked) + label.checkbox:after,
[type="checkbox"]:checked + label.checkbox:after {
  width: 18px;
  height: 18px;
  transition: all .2s;
  border-radius: 50%;
  top: 1px;
  left: 5px; }

[type="checkbox"]:checked + label.checkbox:after {
  top: 1px;
  left: 26px; }

[type="checkbox"]:checked + label.checkbox .ui,
[type="checkbox"]:not(:checked) + label.checkbox .ui:before,
[type="checkbox"]:checked + label.checkbox .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  transition: all .2s;
  text-transform: none; }

[type="checkbox"]:not(:checked) + label.checkbox .ui:before {
  content: "";
  left: 32px; }

[type="checkbox"]:checked + label.checkbox .ui:after {
  content: ""; }

[type="checkbox"]:focus + label.checkbox:before {
  box-sizing: border-box;
  margin-top: 0; }

button.selector-selected {
  font-family: "Roboto", sans-serif !important; }
  button.selector-selected:after {
    right: 22px !important; }

button.selector-option {
  font-family: "Roboto", sans-serif !important; }

/*# sourceMappingURL=installation.css.map */
