// Extensions
@import "fonts", "variables", "auth_controls";

// Styles
::-moz-focus-inner {
  border: none;
  outline: none;
}

// Resets
::-moz-focus-inner {
  border: none;
  outline: none;
}

:root {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  @media(max-height: 640px) {
    text-align: center;
  }
  transition: .2s ease-in-out;
}

// Styles
div.outer-container {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 400px;
  top: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  transition: margin 1.5s cubic-bezier(.28,1,.19,1), opacity 1.5s ease-in-out;
  &.animate {
    margin-top: 0;
    opacity: 1;
  }
  @media(max-height: 640px) {
    display: inline-block;
    overflow: auto;
    height: auto;
    position: relative;
    padding-top: 6px;
  }
}

div.outer-container div.inner-container {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  @media(max-height: 640px) {
    display: inline-block;
  }
}

div.outer-container div.inner-container div.content-wrapper {
  display: inline-block;
  position: relative;
  width: 320px;
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  @media(max-height: 640px) {
    padding-top: 12px;
  }
}

div.logo-box {
  display: inline-block;
  width: 100%;
  height: 40px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  transition: height .4s 1s ease-in-out;
  &.animate {
    height: 20px;
  }
}

div.logo-box img.logo-heading-charcoal, div.logo-box img.logo-heading-mustard {
  position: relative;
  height: 100%;
  width: auto;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .4s 1s ease-in-out, left .4s 1s ease-in-out;
  &.animate {
    transform: translateX(0) !important;
    left: 0;
  }
}

div.form-input {
  margin-bottom: 8px;
}

form.login-form {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  text-align: left;
  opacity: 0;
  margin-top: 50px;
  transition: margin-top .75s 1s cubic-bezier(.58,.01,0,.99), opacity .75s 1s ease-in-out;
  &.animate {
    opacity: 1;
    margin-top: 0;
  }
}

form.login-form h1 {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 1px 0 8px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  line-height: 48px;
  height: auto;
  font-family: $font-default;
  font-size: $h3;
  font-weight: 400;
  top: 0;
  transition: .2s ease-in-out;
}

form.register-form label {
  display: inline-block;
  margin-bottom: 6px;
  position: relative;
  outline: none !important;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: $font-default;
  font-size: .82em;
  text-transform: uppercase;
  font-weight: 500;
  &.readonly {
    opacity: .5;
  }
  &.error::after {
    background-image: url('../assets/icons/error_light.png');
  }
  &.valid::after {
    background-image: url('../assets/icons/valid_light.png');
  }
}

form.register-form label::after {
  content: '';
  position: absolute;
  top: 31px;
  right: 18px;
  width: 14px;
  height: 14px;
  background: center no-repeat;
  background-size: 14px;
  z-index: 1;
}

form.register-form p.message {
  display: block;
  width: 100%;
  height: auto;
  line-height: 26px;
  font-size: .82em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 13px;
  font-family: $font-default;
  text-align: left;
  margin: 0;
}

form.login-form input {
  display: inline-block;
  width: 100%;
  height: 32px;
  position: relative;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  outline: none;
  font-family: $font-default;
  font-size: .9em;
  transition: .2s ease-in-out;
  &[readonly] {
    opacity: .5;
  }
}

form.login-form a.register {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 32px;
  float: left;
  position: relative;
  font-family: $font-default;
  font-size: $text-mini;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-decoration: none;
}

form.login-form button.login {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  float: right;
  border-radius: 16px;
  position: relative;
  outline: none;
  border: none;
  font-family: $font-default;
  cursor: pointer;
  transition: .2s ease-in-out;
}

span.response-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 32px;
  padding: 0 18px;
  margin: 12px 0 16px 0;
  font-family: $font-default;
  font-size: 1em;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 0;
  transition: .15s ease-in-out;
  @media(max-width: 360px) {
    margin-top: 0;
  }
  &.active {
    height: 32px;
  }
}

div.more-actions {
  display: block;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 4px;
  left: 8px;
  transition: .2s ease-in-out;
  cursor: pointer;
  @media(max-height: 640px) {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    bottom: auto;
    left: auto;
    padding: 0 11px;
  }
  &:hover {
    div.more-content {
      opacity: 1;
      top: 0;
      transition: opacity .1s .15s ease-in-out, top .22s ease-in-out !important;
    }
    @media(max-height: 640px) {
      div.more-content {
        top: auto;
      }
    }
  }
}

div.more-actions span.more-trigger {
  display: block;
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  @media(max-height: 640px) {
    display: none;
    width: 24px;
    height: 24px;
  }
}

span.more-trigger svg {
  enable-background: new 0 0 42 42;
  transition: .2s ease-in-out;
}

div.more-actions div.more-content {
  display: block;
  position: absolute;
  width: 640px;
  height: 48px;
  line-height: 48px;
  left: 100%;
  font-family: $font-default;
  font-size: .92em;
  @media(max-height: 640px) {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    line-height: 24px;
    left: 0;
    opacity: 1;
    &:hover {

    }
  }
}

div.more-content {
  opacity: 0;
  top: 130%;
  transition: opacity .05s .01s ease-in-out, top .22s ease-in-out !important;
}

div.more-content span.more-item {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 8px;
  transition: .2s ease-in-out;
  cursor: default;
}

div.more-content span.more-item a {
  text-decoration: none;
  transition: inherit;
  font-weight: 600;
  cursor: pointer;
}

div.password-question {
  display: block;
  width: 100%;
  height: 0;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: .2s ease-in-out;
  &.show {
    opacity: 1;
    height: 32px;
    margin-bottom: 8px;
  }
}

div.password-question span.question-content {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  line-height: 32px;
  font-family: $font-default;
  font-size: .82em;
  font-weight: 600;
}