// Colors: "Black&White"
$black: black;
$darkGrey: #373737;
$grey: #808080;
$lightGrey: #b9b9b9;
$whiteGrey: #f0f0f0;
$white: white;

// Colors: "Red"
$lightRed: indianred;
$logoRed: #9A2100;
$error: #f0002b;

// Colors: "Blue"
$lightBlue: #aa85ff;
$blue: #8000ff;
$info: #006ef0;

// Colors: "Green"
$lightGreen: #5db96c;
$green: #009b3a;
$success: #238051;

// Colors: "Other"
$yellow: #ffe000;
$orange: #ff9400;
$pink: #ff53a4;
$purple: #7b3580;
$brown: #bb4f26;

// Fonts
$font-openSans: "Open Sans", sans-serif;
$font-notoSans: "Noto Sans", sans-serif;
$font-lato: "Lato", sans-serif;
$font-slabo27px: "Slabo 27px", serif;
$font-roboto: "Roboto", sans-serif;
$font-sourceSansPro: "Source Sans Pro", sans-serif;

// Text colors
$text-white: white;
$text-lightGrey: #f7f7f7;
$text-grey: #9b9b9b;
$text-lightBlack: #323232;
$text-darkBlack: #191919;
$text-black: black;

// Text sizes
$h1: 3em;
$h2: 2.5em;
$h3: 2em;
$h4: 1.5em;
$text-large: 1.2em;
$text-normal: 1em;
$text-small: .92em;
$text-mini: .82em;
$text-micro: .69em;