// Colors: "Black & White"
$black: black;
$grey: #808080;
$darkGrey: darken($grey, 25%);
$lightGrey: lighten($grey, 25%);
$white: white;
$themeGrey: #bdd9bf;
$themeGreyMedium: darken($themeGrey, 10%);
$themeGreyDark: darken($themeGrey, 25%);

// Colors: "Red"
$themeRed: #412234;
$themeRedLight: lighten($themeRed, 5%);
$errorRed: #f0002b;

// Colors: "Blue"
$themeBlue: #2e4052;
$themeBlueLight: lighten($themeBlue, 5%);
$infoBlue: #006ef0;

// Colors: "Green"
$green: #009b3a;
$lightGreen: lighten($green, 10%);
$darkGreen: darken($green, 10%);
$successGreen: #238051;

// Colors: "Yellow"
$themeYellow: #ffc857;
$themeYellowLight: lighten($themeYellow, 5%);
$themeYellowDark: darken($themeYellow, 5%);
$warningYellow: #ffe000;

// Colors: "Other"
$orange: #ff9400;
$pink: #ff53a4;
$purple: #7b3580;
$brown: #bb4f26;

// Fonts
$font-openSans: "Open Sans", sans-serif;
$font-notoSans: "Noto Sans", sans-serif;
$font-lato: "Lato", sans-serif;
$font-slabo27px: "Slabo 27px", serif;
$font-roboto: "Roboto", sans-serif;
$font-sourceSansPro: "Source Sans Pro", sans-serif;

// Text colors
$text-white: white;
$text-lightGrey: #f7f7f7;
$text-grey: #9b9b9b;
$text-lightBlack: #323232;
$text-darkBlack: #191919;
$text-black: black;

// Text sizes
$h1: 3em;
$h2: 2.5em;
$h3: 2.06em;
$h4: 1.5em;
$text-large: 1.2em;
$text-normal: 1em;
$text-small: .92em;
$text-mini: .82em;
$text-micro: .69em;